package pages

import (
	"fmt"
	"nearbyassist/internal/models"
	"nearbyassist/views/layout"
	"nearbyassist/views/partials"
	"strconv"
)

templ BugReports(user models.AdminModel, bugs []models.BugReportModel, flash string) {
	@layout.Layout(user) {
		@templ.JSONScript("flash", flash)
		@partials.ToastNotification()
		@partials.PageBanner("Bug Reports", "View reported bugs")
		@bugReportTable(bugs)
		@partials.Pagination()
	}
}

templ bugReportTable(bugs []models.BugReportModel) {
	<div class="w-full overflow-hidden overflow-x-auto rounded-sm outline-1 outline-gray-300">
		<table class="w-full text-left text-sm">
			<thead class="bg-primary-greener text-sm font-semibold text-white">
				<tr>
					<th scope="col" class="p-4">Bug ID</th>
					<th scope="col" class="p-4">Submitted On</th>
					<th scope="col" class="p-4">Action</th>
				</tr>
			</thead>
			<tbody class="divide-y divide-gray-300">
				if len(bugs) < 1 {
					<tr class="">
						<td class="px-6 py-4 text-neutral-dark" align="center" colspan="4" id="emptyTable">Empty</td>
					</tr>
				} else {
					for _, bug := range bugs {
						<tr class="text-xs">
							<td class="p-4">
								# { strconv.Itoa(bug.Id) }
							</td>
							<td class="p-4">{ bug.CreatedAt }</td>
							<td class="p-4">
								@viewBug(bug)
							</td>
						</tr>
					}
				}
			</tbody>
		</table>
	</div>
}

templ viewBug(bug models.BugReportModel) {
	<div x-data="{bugDetailOpen: false}">
		<!-- offCanvas Button -->
		<button
			type="button"
			class="cursor-pointer rounded-sm bg-warning-light/25 p-1 font-semibold text-warning outline-1 outline-warning hover:opacity-75"
			x-on:click="bugDetailOpen = true"
		>
			<span class="flex items-center gap-1">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
					<path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"></path>
					<path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path>
				</svg>
				<p>View Detail</p>
			</span>
		</button>
		<!-- offCanvas Backdrop -->
		<div
			x-cloak
			x-show="bugDetailOpen"
			x-on:keydown.esc.window="bugDetailOpen = false"
			x-on:click.self="bugDetailOpen = false"
			role="dialog"
			class="fixed inset-0 z-90 bg-neutral-gray/50"
		>
			<!-- offCanvas Sidebar -->
			<div
				x-cloak
				x-show="bugDetailOpen"
				x-transition:enter="transition ease-out duration-200"
				x-transition:enter-start="translate-x-full"
				x-transition:enter-end="translate-x-0"
				x-transition:leave="transition ease-in duration-200"
				x-transition:leave-start="translate-x-0"
				x-transition:leave-end="translate-x-full"
				role="document"
				class="fixed top-0 right-0 flex h-full w-md flex-col overflow-y-scroll bg-white px-4 pt-4 pb-6 outline-1 outline-pale-gray"
			>
				<!-- Header -->
				<div class="flex justify-end">
					<button
						x-on:click="bugDetailOpen = false"
						type="button"
						class="flex cursor-pointer items-center rounded-sm px-3 py-1.5 hover:bg-neutral-gray/25 hover:opacity-75"
					>
						<svg
							class="hi-solid hi-x -mx-1 inline-block size-4"
							fill="currentColor"
							viewBox="0 0 20 20"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								fill-rule="evenodd"
								d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
								clip-rule="evenodd"
							></path>
						</svg>
					</button>
				</div>
				<!-- Content -->
				<div class="">
					<!-- Detail -->
					<div class="">
						<h3 class="text-xl font-medium text-neutral-dark">
							Bug
							<span class="font-bold text-neutral-gray">
								#{ strconv.Itoa(bug.Id) }
							</span>
						</h3>
					</div>
					<div class="mt-2 rounded-sm outline-1 outline-pale-gray">
						<div class="bg-primary/75 p-2">
							<p class="text-xl font-medium text-neutral-dark">{ bug.Title }</p>
						</div>
						<div class="bg-primary/10 p-4">
							<p class="text-sm text-neutral-dark">{ bug.Detail }</p>
						</div>
					</div>
					<!-- Images -->
					<div class="mt-4 grid grid-cols-3 gap-2">
						for _, image := range bug.Images {
							@partials.ImageViewer("", fmt.Sprintf("/api/v1/resource/%s", image))
						}
					</div>
					<!-- Action -->
					<div class="mt-8 flex justify-end text-xs">
						@confirmation(strconv.Itoa(bug.Id))
					</div>
				</div>
			</div>
		</div>
	</div>
}

templ confirmation(bugId string) {
	<div x-data="{acceptModalOpen: false, loading: false}">
		<button
			class="w-min cursor-pointer rounded-sm bg-primary p-1 pr-2 font-semibold whitespace-nowrap text-white outline-1 outline-primary hover:opacity-75"
			x-on:click="acceptModalOpen = true"
			type="button"
		>
			<span class="flex items-center gap-1">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
					<path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"></path>
				</svg>
				<p>Close</p>
			</span>
		</button>
		<div
			x-cloak
			x-show="acceptModalOpen"
			x-on:keydown.esc.window="acceptModalOpen = false"
			x-on:click.self="acceptModalOpen = false"
			role="dialog"
			aria-modal="true"
			aria-labelledby="defaultModalTitle"
			class="fixed inset-0 z-30 grid place-content-center bg-neutral-gray/50"
		>
			<!-- Modal Dialog -->
			<div
				x-show="acceptModalOpen"
				x-transition:enter="transition ease-out duration-200 delay-100 motion-reduce:transition-opacity"
				x-transition:enter-start="opacity-0"
				x-transition:enter-end="opacity-100"
				class="relative rounded-sm bg-white p-2 p-4 outline-1 outline-pale-gray w-sm"
			>
				<!-- Spinner -->
				<div
					x-show="loading"
					class="absolute inset-0 grid place-items-center border-none bg-neutral-gray/30 outline-none"
				>
					@partials.Spinner()
				</div>
				<!-- Dialog Header -->
				<div class="flex items-center justify-between">
					<h3 id="defaultModalTitle" class="font-semibold tracking-wide">Close Issue</h3>
					<button
						x-on:click="acceptModalOpen = false"
						aria-label="close modal"
						class="cursor-pointer"
					>
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" stroke="currentColor" fill="none" stroke-width="1.4" class="h-5 w-5">
							<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
						</svg>
					</button>
				</div>
				<!-- Dialog Body -->
				<div class="mt-4">
					<div class="text-center grid gap-2 text-xs my-8">
						<p class="text-danger font-medium">Are you sure you about this action?</p>
					</div>
				</div>
				<!-- Dialog Footer -->
				<div class="mt-4 flex justify-end gap-2">
					<button
						x-on:click="acceptModalOpen = false"
						type="button"
						class="rounded-sm px-4 py-2 cursor-pointer font-medium text-neutral-dark hover:bg-neutral-gray/25 hover:opacity-75"
					>Cancel</button>
					<form
						action="/admin/complaints/bugs/complete"
						method="POST"
						x-on:submit="loading = true"
					>
						<input
							type="text"
							hidden="true"
							value={ bugId }
							name="id"
						/>
						<button
							type="submit"
							class="cursor-pointer rounded-sm bg-primary px-4 py-2 text-xs text-center font-medium text-white hover:opacity-75"
						>Continue</button>
					</form>
				</div>
			</div>
		</div>
	</div>
}
