package pages

import (
	"fmt"
	"nearbyassist/internal/dto"
	"nearbyassist/internal/models"
	"nearbyassist/internal/utils"
	"nearbyassist/views/layout"
	"nearbyassist/views/partials"
	"strconv"
)

templ ReportedUser(user models.AdminModel, data dto.UserReportDetail) {
	@layout.Layout(user) {
		<!-- Actions -->
		<div class="flex justify-between">
			@partials.BackButton(partials.BackButtonProps{URL: "/admin/complaints/users"})
		</div>
		<div class="mx-auto max-w-3xl">
			<div class="flex justify-end gap-2">
				<!--
				@partials.DownloadButton(partials.DownloadButtonProps{
					Label: "Download",
					Link:  fmt.Sprintf("/admin/complaints/users/%s/download", data.Report.Id),
				})
                -->
				@closeReport() {
					@addressReportContent(data.Report.Id)
				}
			</div>
			<div x-data="tabs" class="w-full">
				<!-- tab buttons button -->
				<div
					x-on:keydown.right.prevent="$focus.wrap().next()"
					x-on:keydown.left.prevent="$focus.wrap().previous()"
					class="flex gap-2 overflow-x-auto border-b border-success"
					role="tablist"
					aria-label="tab options"
				>
					<!-- overview button -->
					<button
						x-on:click="changeTab('overview')"
						x-bind:aria-selected="selectedTab === 'overview'"
						x-bind:tabindex="selectedTab === 'overview' ? '0' : '-1'"
						x-bind:class="selectedTab === 'overview' ? 'font-bold text-primary border-b-2 border-primary' : 'text-neutral-gray hover:border-b-2 hover:border-b-primary hover:text-neutral-dark'"
						class="h-min px-4 py-2 text-sm"
						type="button"
						role="tab"
						aria-controls="tabpanelOverview"
					>Overview</button>
					<!-- reported button -->
					<button
						x-on:click="changeTab('reported')"
						x-bind:aria-selected="selectedTab === 'reported'"
						x-bind:tabindex="selectedTab === 'reported' ? '0' : '-1'"
						x-bind:class="selectedTab === 'reported' ? 'font-bold text-primary border-b-2 border-primary' : 'text-neutral-gray hover:border-b-2 hover:border-b-primary hover:text-neutral-dark'"
						class="h-min px-4 py-2 text-sm"
						type="button"
						role="tab"
						aria-controls="tabpanelReported"
					>Reported</button>
					<!-- reporter button -->
					<button
						x-on:click="changeTab('reporter')"
						x-bind:aria-selected="selectedTab === 'reporter'"
						x-bind:tabindex="selectedTab === 'reporter' ? '0' : '-1'"
						x-bind:class="selectedTab === 'reporter' ? 'font-bold text-primary border-b-2 border-primary' : 'text-neutral-gray hover:border-b-2 hover:border-b-primary hover:text-neutral-dark'"
						class="h-min px-4 py-2 text-sm"
						type="button"
						role="tab"
						aria-controls="tabpanelReporter"
					>Reporter</button>
				</div>
				<!-- tab contents button -->
				<div class="px-2 py-4 text-neutral-dark dark:text-neutral-dark">
					<!-- overview content -->
					<div x-cloak x-show="selectedTab === 'overview'" id="tabpanelOverview" role="tabpanel" aria-label="overview">
						@overview(data)
					</div>
					<!-- reported content -->
					<div x-cloak x-show="selectedTab === 'reported'" id="tabpanelReported" role="tabpanel" aria-label="reported">
						@reported(data)
					</div>
					<!-- reporter content -->
					<div x-cloak x-show="selectedTab === 'reporter'" id="tabpanelReporter" role="tabpanel" aria-label="reporter">
						@reporter(data)
					</div>
				</div>
				<script>
                    (function() {
                        document.addEventListener("alpine:init", () => {
                            Alpine.data("tabs", () => ({
                                selectedTab: 'overview',
                                init() {
                                    const params = new URLSearchParams(window.location.search);
                                    const tabParam = params.get('tab');
                                    if (tabParam) this.selectedTab = tabParam;
                                },
                                changeTab(tab) {
                                    this.selectedTab = tab;
                                    const params = new URLSearchParams(window.location.search);
                                    params.set('tab', tab);
                                    const newURL = `${window.location.pathname}?${params.toString()}`;
                                    history.replaceState({}, '', newURL);
                                },
                            }));
                        });
                     })();
                </script>
			</div>
		</div>
	}
}

templ overview(data dto.UserReportDetail) {
	<div>
		<div class="mt-2 flex gap-2">
			<span class="font-medium text-neutral-dark">Report ID:</span>
			<p class="text-neutral-gray">{ data.Report.Id }</p>
		</div>
		<div class="mt-2 flex gap-2">
			<span class="font-medium text-neutral-dark">Category:</span>
			<p class="text-neutral-gray">{ data.Report.Category }</p>
		</div>
		if data.Report.Category == "booking_related" {
			<div class="mt-2 flex gap-2">
				<span class="font-medium text-neutral-dark">Booking ID:</span>
				<p class="text-neutral-gray">{ data.Report.BookingId }</p>
			</div>
		}
		<div class="mt-2">
			<span class="font-medium text-neutral-dark">Reason:</span>
			<p class="text-neutral-gray">{ data.Report.Reason }</p>
		</div>
		<div class="mt-2">
			<span class="font-medium text-neutral-dark">Detail:</span>
			<p class="text-neutral-gray">{ data.Report.Detail }</p>
		</div>
		<!-- Booking details -->
		if data.Report.Category == "booking_related" {
			@booking(data)
		}
		<!-- Images -->
		<div class="mt-4">
			@partials.Divider()
			<h1 class="mt-2 text-xl font-medium">Report Attachments</h1>
			<div class="mt-2 grid grid-cols-3 gap-2">
				for _, image := range data.Report.Images {
					@partials.ImageViewer(partials.ImageViewerProps{
						Title: "",
						URL:   fmt.Sprintf("/api/v1/resource/%s", image),
					})
				}
			</div>
		</div>
	</div>
}

templ booking(data dto.UserReportDetail) {
	<div class="mt-4">
		@partials.Divider()
		<h1 class="mt-2 text-xl font-medium">Booking</h1>
		<div class="mt-2 flex gap-2">
			<span class="font-medium text-neutral-dark">ID:</span>
			<p class="text-neutral-gray">{ data.Booking.Id }</p>
		</div>
		<div class="mt-2 flex gap-2">
			<span class="font-medium text-neutral-dark">Booked for:</span>
			switch (data.Booking.PricingType) {
				case "fixed":
					<p class="text-neutral-gray">{ strconv.Itoa(data.Booking.Quantity) } (fixed rate session)</p>
				case "per_hour":
					<p class="text-neutral-gray">{ strconv.Itoa(data.Booking.Quantity) } hour/s</p>
				case "per_day":
					<p class="text-neutral-gray">{ strconv.Itoa(data.Booking.Quantity) } day/s</p>
			}
		</div>
		<div class="mt-2 flex gap-2">
			<span class="font-medium text-neutral-dark">Total:</span>
			switch (data.Booking.PricingType) {
				case "fixed":
					<p class="text-neutral-gray">{ utils.FormatCurrency(data.Booking.Cost) }</p>
				case "per_hour":
					<p class="text-neutral-gray">{ utils.FormatCurrency(data.Booking.Cost) }</p>
				case "per_day":
					<p class="text-neutral-gray">{ utils.FormatCurrency(data.Booking.Cost) }</p>
			}
		</div>
		<div class="mt-2 flex items-center gap-2">
			<span class="font-medium text-neutral-dark">Status:</span>
			@partials.BookingStatus(data.Booking.Status)
		</div>
		if data.Booking.Status != "done" {
			<div class="mt-2 flex gap-2">
				if data.Booking.Status == "cancelled" {
					<span class="font-medium text-neutral-dark">Cancel Reason:</span>
				} else if data.Booking.Status == "rejected" {
					<span class="font-medium text-neutral-dark">Reject Reason:</span>
				}
				<p class="text-neutral-gray">{ data.Booking.CancelReason }</p>
			</div>
		}
		<div class="mt-2 flex gap-2">
			<span class="font-medium text-neutral-dark">Date Booked:</span>
			<p class="text-neutral-gray">{ data.Booking.CreatedAt }</p>
		</div>
		<div class="mt-2 flex gap-2">
			<span class="font-medium text-neutral-dark">Date Scheduled:</span>
			if data.Booking.ScheduleStart == data.Booking.ScheduleEnd {
				<p class="text-neutral-gray">{ utils.DateMonth(data.Booking.ScheduleStart) }</p>
			} else {
				<p class="text-neutral-gray">{ utils.DateMonth(data.Booking.ScheduleStart) } - { utils.DateMonth(data.Booking.ScheduleEnd) }</p>
			}
		</div>
		<div class="mt-2 flex gap-2">
			if data.Booking.Status == "cancelled" {
				<span class="font-medium text-neutral-dark">Date Cancelled:</span>
			} else if data.Booking.Status == "rejected" {
				<span class="font-medium text-neutral-dark">Date Rejected:</span>
			} else if data.Booking.Status == "confirmed" {
				<span class="font-medium text-neutral-dark">Date Confirmed:</span>
			} else if data.Booking.Status == "done" {
				<span class="font-medium text-neutral-dark">Date Completed:</span>
			}
			<p class="text-neutral-gray">{ data.Booking.UpdatedAt }</p>
		</div>
	</div>
	<!-- Service -->
	<div class="mt-4">
		@partials.Divider()
		<div class="mt-2 flex justify-between">
			<h1 class="text-xl font-medium">Service</h1>
			<a
				href={ templ.URL(fmt.Sprintf("/admin/user-management/vendors/%s?tab=services&offCanvas=%s", data.Booking.Vendor.Id, data.Booking.Service.Id)) }
				class="cursor-pointer rounded-sm bg-primary px-2 py-1.5 text-xs text-white hover:opacity-75"
			>view</a>
		</div>
		<div class="mt-2">
			<span class="font-medium text-neutral-dark">Title:</span>
			<p class="text-neutral-gray">{ data.Booking.ServiceTitle }</p>
		</div>
		<div class="mt-2">
			<span class="font-medium text-neutral-dark">Description:</span>
			<p class="text-neutral-gray">{ data.Booking.ServiceDescription }</p>
		</div>
		<div class="mt-2">
			<span class="font-medium text-neutral-dark">Tags:</span>
			<div class="mt-1.5 flex gap-2">
				for _, tag := range data.Booking.Service.Tags {
					@partials.DefaultBadgeSuccess(tag)
				}
			</div>
		</div>
		<div class="mt-2 flex gap-2">
			<span class="font-medium text-neutral-dark">Rate:</span>
			switch (data.Booking.PricingType) {
				case "fixed":
					<p class="text-neutral-gray">{ utils.FormatCurrency(data.Booking.Price) } (fixed)</p>
				case "per_hour":
					<p class="text-neutral-gray">{ utils.FormatCurrency(data.Booking.Price) } / hour</p>
				case "per_day":
					<p class="text-neutral-gray">{ utils.FormatCurrency(data.Booking.Price) } / day</p>
			}
		</div>
		<div class="mt-2 flex gap-2">
			<span class="font-medium text-neutral-dark">Created At:</span>
			<p class="text-neutral-gray">{ data.Booking.Service.CreatedAt }</p>
		</div>
		<div class="mt-2 flex gap-2">
			<span class="font-medium text-neutral-dark">Last Modified:</span>
			<p class="text-neutral-gray">{ data.Booking.Service.UpdatedAt }</p>
		</div>
	</div>
	<!-- Extras -->
	<div class="mt-4">
		@partials.Divider()
		<h1 class="mt-2 text-xl font-medium">Included Add-ons</h1>
		<div class="mt-2">
			for _, extra := range data.Booking.Extras {
				@partials.Collapsable(partials.CollapsableProps{
					Title:    extra.Title,
					EndText:  utils.FormatCurrency(extra.Price),
					Content:  extra.Description,
					Expanded: true,
				})
			}
		</div>
	</div>
}

templ reported(data dto.UserReportDetail) {
	<!-- Information -->
	<div class="">
		<h1 class="text-xl font-medium">Information</h1>
		<div>
			<div class="mt-2 flex justify-between">
				<img
					src={ data.Reported.ImageURL }
					alt="User Profile Image"
					class="aspect-square h-44 w-44 outline-1 outline-pale-gray"
				/>
				<div>
					<a
						href={ templ.URL(fmt.Sprintf("/admin/user-management/vendors/%s", data.Reported.Id)) }
						class="cursor-pointer rounded-sm bg-primary px-3 py-1.5 text-xs text-white hover:opacity-75"
					>View Profile</a>
				</div>
			</div>
			<div class="mt-2 flex gap-2">
				<span class="font-medium text-neutral-dark">Name:</span>
				<p class="text-neutral-gray">{ data.Reported.Name }</p>
			</div>
			<div class="mt-2 flex gap-2">
				<span class="font-medium text-neutral-dark">Email:</span>
				<p class="text-neutral-gray">{ data.Reported.Email }</p>
			</div>
			<div class="flex gap-2 ">
				<h3 class="font-medium text-neutral-dark">Address:</h3>
				<a
					href={ templ.URL(fmt.Sprintf("/admin/map/?point=%f,%f", data.Reported.Address.Latitude, data.Reported.Address.Longitude)) }
					class="text-good hover:underline"
				>{ data.Reported.Address.Address }</a>
			</div>
			<div class="mt-2 flex gap-2">
				<span class="font-medium text-neutral-dark">Phone:</span>
				<p class="text-neutral-gray">{ data.Reported.Phone }</p>
			</div>
			<div class="mt-2 flex gap-2">
				<span class="font-medium text-neutral-dark">Account Created At:</span>
				<p class="text-neutral-gray">{ data.Reported.CreatedAt }</p>
			</div>
			<div class="mt-2 flex gap-2">
				<span class="font-medium text-neutral-dark">Account Verified At:</span>
				<p class="text-neutral-gray">{ data.Reported.DateVerified }</p>
			</div>
		</div>
	</div>
	<!-- History -->
	<div class="mt-4">
		@partials.Divider()
		<h1 class="mt-2 text-xl font-medium">History</h1>
		<div>
			<div class="mt-2 grid grid-cols-2 text-left">
				<div class="mt-2 flex items-center gap-2">
					<span class="font-medium text-neutral-dark">Vendor Rating:</span>
					<span class="flex gap-2 text-warning">
						<p class="font-medium">{ data.ReportedUserHistory.Rating }</p>
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4">
							<path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd"></path>
						</svg>
					</span>
				</div>
				<div class="mt-2 flex gap-2">
					<span class="font-medium text-neutral-dark">Previous Reports:</span>
					<p class="text-neutral-gray">{ strconv.Itoa(len(data.ReportedUserHistory.PreviousReports)) }</p>
				</div>
				<div class="mt-2 flex gap-2">
					<span class="font-medium text-neutral-dark">Total Bookings:</span>
					<p class="text-neutral-gray">{ strconv.Itoa(data.ReportedUserHistory.Bookings) }</p>
				</div>
				<div class="mt-2 flex gap-2">
					<span class="font-medium text-neutral-dark">Active Bookings:</span>
					<p class="text-neutral-gray">{ strconv.Itoa(data.ReportedUserHistory.ActiveBookings) }</p>
				</div>
				<div class="mt-2 flex gap-2">
					<span class="font-medium text-neutral-dark">Completed Bookings:</span>
					<p class="text-neutral-gray">{ strconv.Itoa(data.ReportedUserHistory.CompletedBookings) }</p>
				</div>
				<div class="mt-2 flex gap-2">
					<span class="font-medium text-neutral-dark">Rejected Bookings:</span>
					<p class="text-neutral-gray">{ strconv.Itoa(data.ReportedUserHistory.RejectedBookings) }</p>
				</div>
			</div>
			<!-- Previous reports -->
			<div class="mt-6">
				<table class="w-full table-auto border-collapse text-left text-xs">
					<thead class="bg-primary-greener text-xs text-white">
						<th class="p-1.5">Date Reported</th>
						<th class="p-1.5">Date Handled</th>
						<th class="p-1.5">Action Taken</th>
						<th class="p-1.5"></th>
					</thead>
					<tbody class="divide-y divide-neutral-gray-lighter">
						for _, report := range data.ReportedUserHistory.PreviousReports {
							<tr>
								<td class="p-2">
									<p class="text-neutral-gray">{ report.CreatedAt }</p>
								</td>
								<td class="p-2">
									<p class="text-neutral-gray">{ report.CompletedAt }</p>
								</td>
								<td class="p-2">
									if report.Status == "resolved" {
										@partials.DefaultBadgeSuccess(report.Status)
									} else {
										@partials.DefaultBadgeDanger(report.Status)
									}
								</td>
								<td class="p-2">
									@partials.OffCanvas(partials.OffCanvasProps{ID: report.Id, Label: "view"}) {
										@previousReportMoreInfo(report)
									}
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
}

templ reporter(data dto.UserReportDetail) {
	<!-- Information -->
	<div class="">
		<h1 class="text-xl font-medium">Information</h1>
		<div>
			<div class="mt-2 flex justify-between">
				<img
					src={ data.Reporter.ImageURL }
					alt="User Profile Image"
					class="aspect-square h-44 w-44 outline-1 outline-pale-gray"
				/>
				<div>
					<a
						href={ templ.URL(fmt.Sprintf("/admin/user-management/users/%s", data.Reporter.Id)) }
						class="cursor-pointer rounded-sm bg-primary px-3 py-1.5 text-xs text-white hover:opacity-75"
					>View Profile</a>
				</div>
			</div>
			<div class="mt-2 flex gap-2">
				<span class="font-medium text-neutral-dark">Name:</span>
				<p class="text-neutral-gray">{ data.Reporter.Name }</p>
			</div>
			<div class="mt-2 flex gap-2">
				<span class="font-medium text-neutral-dark">Email:</span>
				<p class="text-neutral-gray">{ data.Reporter.Email }</p>
			</div>
			<div class="flex gap-2 ">
				<h3 class="font-medium text-neutral-dark">Address:</h3>
				<a
					href={ templ.URL(fmt.Sprintf("/admin/map/?point=%f,%f", data.Reporter.Address.Latitude, data.Reporter.Address.Longitude)) }
					class="text-good hover:underline"
				>{ data.Reporter.Address.Address }</a>
			</div>
			<div class="mt-2 flex gap-2">
				<span class="font-medium text-neutral-dark">Phone:</span>
				<p class="text-neutral-gray">{ data.Reporter.Phone }</p>
			</div>
			<div class="mt-2 flex gap-2">
				<span class="font-medium text-neutral-dark">Account Created At:</span>
				<p class="text-neutral-gray">{ data.Reporter.CreatedAt }</p>
			</div>
			<div class="mt-2 flex gap-2">
				<span class="font-medium text-neutral-dark">Date Verified:</span>
				<p class="text-neutral-gray">{ data.Reporter.DateVerified }</p>
			</div>
		</div>
	</div>
	<!-- History -->
	<div class="mt-4">
		@partials.Divider()
		<h1 class="mt-2 text-xl font-medium">History</h1>
		<div>
			<div class="mt-2 grid grid-cols-2 text-left">
				<div class="mt-2 flex gap-2">
					<span class="font-medium text-neutral-dark">Reports Filed:</span>
					<p class="text-neutral-gray">{ strconv.Itoa(data.ReporterHistory.ReportsFiled) }</p>
				</div>
				<div class="mt-2 flex gap-2">
					<span class="font-medium text-neutral-dark">False Reports:</span>
					<p class="text-neutral-gray">{ strconv.Itoa(data.ReporterHistory.FalseReports) }</p>
				</div>
				<div class="mt-2 flex gap-2">
					<span class="font-medium text-neutral-dark">Cancelled Bookings:</span>
					<p class="text-neutral-gray">{ strconv.Itoa(data.ReporterHistory.CancelledBookings) }</p>
				</div>
			</div>
		</div>
	</div>
}

templ previousReportMoreInfo(data dto.PreviousReport) {
	<div class="text-sm">
		<div class="mt-2 flex items-center gap-2">
			<span class="font-medium text-neutral-dark">ID:</span>
			<p class="text-neutral-gray">{ data.Id }</p>
		</div>
		@partials.Divider()
		<div class="mt-6 flex items-center gap-2">
			<span class="font-medium text-neutral-dark">Reporter ID:</span>
			<p class="text-neutral-gray">{ data.ReportedByUserId }</p>
		</div>
		<div class="mt-2 flex items-center gap-2">
			<span class="font-medium text-neutral-dark">Reporter:</span>
			<p class="text-neutral-gray">{ data.ReportedByName }</p>
		</div>
		<div class="mt-2 flex items-center gap-2">
			<span class="font-medium text-neutral-dark">Date Reported:</span>
			<p class="text-neutral-gray">{ data.CreatedAt }</p>
		</div>
		if data.Category == "booking_related" {
			<div class="mt-2 flex items-center gap-2">
				<span class="font-medium text-neutral-dark">Booking ID:</span>
				<p class="text-neutral-gray">{ data.BookingId }</p>
			</div>
		}
		<div class="mt-2">
			<span class="font-medium text-neutral-dark">Reason:</span>
			<p class="text-neutral-gray">{ data.Reason }</p>
		</div>
		<div class="mt-2">
			<span class="font-medium text-neutral-dark">Detail:</span>
			<p class="text-neutral-gray">{ data.Detail }</p>
		</div>
		<div class="mt-6 flex items-center gap-2">
			<span class="font-medium text-neutral-dark">Handled By:</span>
			<p class="text-neutral-gray">{ data.AdminUsername }</p>
		</div>
		<div class="mt-2 flex items-center gap-2">
			<span class="font-medium text-neutral-dark">Admin ID:</span>
			<p class="text-neutral-gray">{ data.AdminId }</p>
		</div>
		<div class="mt-2 flex items-center gap-2">
			<span class="font-medium text-neutral-dark">Date Handled:</span>
			<p class="text-neutral-gray">{ data.CompletedAt }</p>
		</div>
		<div class="mt-2 flex items-center gap-2">
			<span class="font-medium text-neutral-dark">Action taken:</span>
			if data.Status == "resolved" {
				@partials.DefaultBadgeSuccess(data.Status)
			} else {
				@partials.DefaultBadgeDanger(data.Status)
			}
		</div>
		<div class="mt-2">
			<span class="font-medium text-neutral-dark">Note from admin:</span>
			<p class="text-neutral-gray">{ data.AdminNote }</p>
		</div>
	</div>
}

templ addressReportContent(reportId string) {
	<div class="mt-4 text-xs">
		<form
			action="/admin/complaints/users/close"
			method="POST"
		>
			<input
				type="text"
				hidden
				name="reportId"
				value={ reportId }
			/>
			<div class="mt-2">
				<div
					x-data="combobox({
                        options: [
                            {
                                'label': 'Resolve', 
                                'value': 'resolved'
                            },
                            {
                                'label': 'Dismiss',
                                'value': 'dismissed'
                            }
                        ],
                    })"
					class="flex w-full max-w-xs flex-col gap-1"
					x-on:keydown="highlightFirstMatchingOption($event.key)"
					x-on:keydown.esc.window="isOpen = false, openedWithKeyboard = false"
				>
					<label for="action" class="w-fit pl-0.5 font-medium text-neutral-dark">Action</label>
					<div class="relative">
						<!-- trigger button  -->
						<button
							type="button"
							role="combobox"
							class="inline-flex w-full items-center justify-between gap-2 rounded-sm border border-neutral-gray-lighter px-4 py-2 font-medium tracking-wide whitespace-nowrap text-neutral-dark capitalize transition hover:opacity-75 focus:border-primary focus:outline-none"
							aria-haspopup="listbox"
							aria-controls="actionsList"
							x-on:click="isOpen = ! isOpen"
							x-on:keydown.down.prevent="openedWithKeyboard = true"
							x-on:keydown.enter.prevent="openedWithKeyboard = true"
							x-on:keydown.space.prevent="openedWithKeyboard = true"
							x-bind:aria-label="selectedOption ? selectedOption.value : 'Please Select'"
							x-bind:aria-expanded="isOpen || openedWithKeyboard"
						>
							<span class="font-normal text-neutral-gray" x-text="selectedOption ? selectedOption.value : 'Select action'"></span>
							<!-- Chevron  -->
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
								<path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"></path>
							</svg>
						</button>
						<!-- hidden input to grab the selected value  -->
						<input id="action" name="action" type="text" x-ref="hiddenTextField" hidden required/>
						<ul
							x-cloak
							x-show="isOpen || openedWithKeyboard"
							id="actionsList"
							class="absolute top-11 left-0 z-10 flex max-h-44 w-full flex-col overflow-hidden overflow-y-auto rounded-sm  border border-pale-gray bg-neutral-50 py-1.5"
							role="listbox"
							aria-label="actions list"
							x-on:click.outside="isOpen = false, openedWithKeyboard = false"
							x-on:keydown.down.prevent="$focus.wrap().next()"
							x-on:keydown.up.prevent="$focus.wrap().previous()"
							x-transition
							x-trap="openedWithKeyboard"
						>
							<template x-for="(item, index) in options" x-bind:key="item.value">
								<li
									class="combobox-option inline-flex cursor-pointer justify-between gap-6 px-4 py-2 text-sm text-neutral-dark hover:text-neutral-gray"
									role="option"
									x-on:click="setSelectedOption(item)"
									x-on:keydown.enter="setSelectedOption(item)"
									x-bind:id="'option-' + index"
									tabindex="0"
								>
									<!-- Label  -->
									<span x-bind:class="selectedOption == item ? 'font-bold' : null" x-text="item.label"></span>
									<!-- Screen reader 'selected' indicator  -->
									<span class="sr-only" x-text="selectedOption == item ? 'selected' : null"></span>
									<!-- Checkmark  -->
									<svg x-cloak x-show="selectedOption == item" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-width="2" class="size-4" aria-hidden="true">
										<path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5"></path>
									</svg>
								</li>
							</template>
						</ul>
					</div>
				</div>
				<script>
                    (function() {
                        document.addEventListener('alpine:init', () => {
                            Alpine.data('combobox', (comboboxData = {
                                options: [],
                            },) => ({
                                options: comboboxData.options,
                                isOpen: false,
                                openedWithKeyboard: false,
                                selectedOption: null,
                                setSelectedOption(option) {
                                    this.selectedOption = option
                                    this.isOpen = false
                                    this.openedWithKeyboard = false
                                    this.$refs.hiddenTextField.value = option.value
                                },
                                highlightFirstMatchingOption(pressedKey) {
                                    const option = this.options.find((item) =>
                                        item.label.toLowerCase().startsWith(pressedKey.toLowerCase()),
                                    )
                                    if (option) {
                                        const index = this.options.indexOf(option)
                                        const allOptions = document.querySelectorAll('.combobox-option')
                                        if (allOptions[index]) {
                                            allOptions[index].focus()
                                        }
                                    }
                                },
                            }))
                        })
                     })();
            </script>
			</div>
			<div class="mt-4">
				<label for="note" class="font-medium text-neutral-dark">Note</label>
				<textarea
					name="note"
					id="note"
					rows="6"
					required
					placeholder="notes or actions taken on this report"
					autocomplete="off"
					class="mt-1.5 w-full rounded-sm border border-neutral-gray-lighter p-2 text-sm text-neutral-dark focus:border-primary focus:outline-none"
				></textarea>
			</div>
			<div class="mt-4 flex justify-end">
				<button
					type="submit"
					class="cursor-pointer rounded-sm bg-primary px-3 py-1.5 font-medium text-white hover:opacity-75"
				>Submit</button>
			</div>
		</form>
	</div>
}

templ closeReport() {
	<div x-data="{offCanvasOpen: false}">
		<!-- offCanvas Button -->
		<button
			type="button"
			class="w-min cursor-pointer rounded-sm bg-primary p-1 pr-2 font-semibold whitespace-nowrap text-white outline-1 outline-primary hover:opacity-75"
			x-on:click="offCanvasOpen = true"
		>
			<span class="flex items-center gap-1">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
					<path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"></path>
				</svg>
				<p>Close</p>
			</span>
		</button>
		<!-- offCanvas Backdrop -->
		<div
			x-cloak
			x-show="offCanvasOpen"
			x-on:keydown.esc.window="offCanvasOpen = false"
			x-on:click.self="offCanvasOpen = false"
			role="dialog"
			class="fixed inset-0 z-90 bg-neutral-gray/50"
		>
			<!-- offCanvas Sidebar -->
			<div
				x-cloak
				x-show="offCanvasOpen"
				x-transition:enter="transition ease-out duration-200"
				x-transition:enter-start="translate-x-full"
				x-transition:enter-end="translate-x-0"
				x-transition:leave="transition ease-in duration-200"
				x-transition:leave-start="translate-x-0"
				x-transition:leave-end="translate-x-full"
				role="document"
				class="fixed top-0 right-0 flex h-full w-lg flex-col overflow-y-scroll bg-white px-4 pt-4 pb-14 outline-1 outline-pale-gray"
			>
				<!-- Content -->
				{ children... }
			</div>
		</div>
	</div>
}
