package pages

import (
	"fmt"
	"nearbyassist/internal/dto"
	"nearbyassist/internal/models"
	"nearbyassist/views/layout"
	"nearbyassist/views/partials"
)

templ ViewReportedUserDetail(user models.AdminModel, data dto.UserReportDetail) {
	@layout.Layout(user) {
		<div class="mx-auto max-w-3xl">
			@partials.PrintJSON(data)
		</div>
	}
}

templ oldContent(data models.UserReportModel) {
	<!-- Actions -->
	<div class="flex justify-between">
		@partials.BackButton()
		@addressReport(data)
	</div>
	<!-- Info -->
	<div class="mt-4">
		<div class="mt-2">
			<h3 class="font-bold text-neutral-dark">Reported User:</h3>
			<span class="inline-flex items-center gap-2">
				<p class="text-lg text-neutral-gray">{ "" } </p>
				<a
					href={ templ.SafeURL(fmt.Sprintf("/admin/user-management/users/%s", data.ReportedUserId)) }
					class="cursor-pointer rounded-sm bg-neutral-gray/25 px-2 py-1 hover:opacity-75"
				>
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
						<path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244"></path>
					</svg>
				</a>
			</span>
		</div>
		<div class="mt-2">
			<h3 class="font-bold text-neutral-dark">User ID:</h3>
			<p class="text-sm text-neutral-gray">{ data.ReportedUserId } </p>
		</div>
	</div>
	<!-- Reason -->
	<div class="mt-4">
		<div class="mt-2">
			<h3 class="font-bold text-neutral-dark">Reason:</h3>
			<p class="text-sm text-neutral-gray">{ data.Reason } </p>
		</div>
		<div class="mt-2">
			<h3 class="font-bold text-neutral-dark">Detail:</h3>
			<p class="text-sm text-neutral-gray">{ data.Detail } </p>
		</div>
	</div>
	<!-- Images -->
	<div class="mt-4">
		<h4 class="font-bold text-neutral-dark">Images</h4>
		<div class="mt-2 grid grid-cols-3 gap-2">
			for _, image := range data.Images {
				@partials.ImageViewer(fmt.Sprintf("/api/v1/resource/%s", image))
			}
		</div>
	</div>
}

templ addressReport(data models.UserReportModel) {
	<div x-data="{offCanvasOpen: false}">
		<!-- offCanvas Button -->
		<button
			x-on:click="offCanvasOpen = !offCanvasOpen"
			type="button"
			class="cursor-pointer rounded-sm bg-primary p-2 text-sm font-medium text-white hover:opacity-75"
		>Address</button>
		<!-- offCanvas Backdrop -->
		<div
			x-cloak
			x-show="offCanvasOpen"
			x-on:keydown.esc.window="offCanvasOpen = false"
			x-on:click.self="offCanvasOpen = false"
			role="dialog"
			class="fixed inset-0 bg-neutral-gray/50"
		>
			<!-- offCanvas Sidebar -->
			<div
				x-cloak
				x-show="offCanvasOpen"
				x-transition:enter="transition ease-out duration-200"
				x-transition:enter-start="translate-x-full"
				x-transition:enter-end="translate-x-0"
				x-transition:leave="transition ease-in duration-200"
				x-transition:leave-start="translate-x-0"
				x-transition:leave-end="translate-x-full"
				role="document"
				class="fixed top-0 right-0 flex h-full w-md flex-col bg-white p-4 outline-1 outline-pale-gray"
			>
				<!-- Header -->
				<div class="flex justify-end">
					<button
						x-on:click="offCanvasOpen = false"
						type="button"
						class="flex cursor-pointer items-center rounded-sm px-3 py-1.5 hover:bg-neutral-gray/25 hover:opacity-75"
					>
						<svg
							class="hi-solid hi-x -mx-1 inline-block size-4"
							fill="currentColor"
							viewBox="0 0 20 20"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								fill-rule="evenodd"
								d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
								clip-rule="evenodd"
							></path>
						</svg>
					</button>
				</div>
				<!-- Content -->
				<div class="mt-4">
					<form
						action="/admin/complaints/users/close"
						method="POST"
					>
						<input
							type="text"
							hidden
							name="reportId"
							value={ data.Id }
						/>
						<div class="mt-2">
							<label for="title" class="font-medium">Title</label>
							<input
								type="text"
								name="title"
								id="title"
								placeholder="title"
								class="mt-1.5 w-full rounded-sm border border-neutral-gray-lighter p-2 focus:border-primary focus:outline-none"
							/>
						</div>
						<div class="mt-2">
							<label for="detail" class="font-medium">Detail</label>
							<textarea
								name="detail"
								id="detail"
								rows="6"
								placeholder="more details..."
								autocomplete="off"
								class="mt-1.5 w-full rounded-sm border border-neutral-gray-lighter p-2 text-sm text-neutral-dark focus:border-primary focus:outline-none"
							></textarea>
						</div>
						<div class="mt-4 flex justify-end">
							<button
								type="submit"
								class="cursor-pointer rounded-sm bg-primary px-3 py-1.5 font-medium text-white hover:opacity-75"
							>Okay</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
}
