package pages

import (
	"fmt"
	"nearbyassist/internal/models"
	"nearbyassist/views/layout"
	"nearbyassist/views/partials"
)

templ Applications(user models.AdminModel, applications []models.ApplicationModel) {
	@layout.Layout(user) {
		@partials.PageBanner("Vendor Applications", "View and manage vendor applications")
		@applicationsData(applications)
		@partials.Pagination()
	}
}

templ applicationsData(applications []models.ApplicationModel) {
	<div class="w-full overflow-hidden overflow-x-auto rounded-sm outline-1 outline-gray-300">
		<table class="w-full text-left text-sm">
			<thead class="bg-primary-greener text-sm font-semibold text-white">
				<tr>
					<th scope="col" class="p-4">Request ID</th>
					<th scope="col" class="p-4">User</th>
					<th scope="col" class="p-4">Applied On</th>
					<th scope="col" class="p-4">Action</th>
				</tr>
			</thead>
			<tbody class="divide-y divide-gray-300">
				if len(applications) < 1 {
					<tr class="">
						<td class="px-6 py-4 text-neutral-dark" align="center" colspan="4" id="emptyTable">Empty</td>
					</tr>
				} else {
					for _, application := range applications {
						<tr class="text-xs">
							<td class="p-4">
								{ application.Id }
							</td>
							<td class="p-4">{ application.ApplicantName }</td>
							<td class="p-4">{ application.CreatedAt }</td>
							<td class="p-4">
								<ul>
									<a
										href={ templ.SafeURL(fmt.Sprintf("/admin/vendor-applications/%s", application.Id)) }
										class="w-min rounded-sm bg-warning-light/25 p-1 font-semibold text-warning outline-1 outline-warning hover:opacity-75"
									>
										view request
									</a>
								</ul>
							</td>
						</tr>
					}
				}
			</tbody>
		</table>
	</div>
}
