package pages

import (
	"fmt"
	"nearbyassist/internal/models"
	"nearbyassist/views/layout"
	"nearbyassist/views/partials"
)

templ Applications(applications []models.ApplicationModel) {
	@layout.Layout() {
		@partials.PageBanner("Vendor Applications", "View and manage vendor applications")
		@applicationsData(applications)
	}
}

templ applicationsData(applications []models.ApplicationModel) {
	<div class="overflow-hidden w-full overflow-x-auto rounded-sm outline-1 outline-gray-300">
		<table class="w-full text-left text-sm">
			<thead class="text-white text-sm font-semibold bg-primary-greener">
				<tr>
					<th scope="col" class="p-4">ID</th>
					<th scope="col" class="p-4">User</th>
					<th scope="col" class="p-4">Applied On</th>
					<th scope="col" class="p-4">Action</th>
				</tr>
			</thead>
			<tbody class="divide-y divide-gray-300">
				if len(applications) < 1 {
					<tr class="">
						<td class="px-6 py-4 text-neutral-dark" align="center" colspan="4">No Applications</td>
					</tr>
				} else {
					for _, application := range applications {
						<tr class="text-xs">
							<td class="p-4">
								{ application.Id }
							</td>
							<td class="p-4">{ application.ApplicantName }</td>
							<td class="p-4">{ application.CreatedAt }</td>
							<td class="p-4">
								<ul>
									<a
										href={ templ.SafeURL(fmt.Sprintf("/admin/vendor-applications/%s", application.Id)) }
										class="whitespace-nowrap w-min rounded-sm text-neutral-gray p-1 font-semibold outline-1 outline-neutral-gray hover:opacity-75 focus-visible:outline-2 focus-visible:outline-offset-2 active:opacity-100 active:outline-offset-0"
									>
										view request
									</a>
								</ul>
							</td>
						</tr>
					}
				}
			</tbody>
		</table>
	</div>
}
