package partials

templ DefaultBadge(text string) {
	<span class="rounded-sm w-fit border border-pale-gray bg-neutral-50 px-2 py-1 text-xs font-medium text-neutral-600">{ text }</span>
}

templ DefaultBadgeSuccess(text string) {
	<!-- success Badge -->
	<span class="rounded-sm w-fit border border-success bg-success px-2 py-1 text-xs font-medium text-white">{ text }</span>
}

templ DefaultBadgeWarning(text string) {
	<!-- warning Badge -->
	<span class="rounded-sm w-fit border border-warning bg-warning px-2 py-1 text-xs font-medium text-white">{ text }</span>
}

templ DefaultBadgeDanger(text string) {
	<!-- danger Badge -->
	<span class="rounded-sm w-fit border border-danger bg-danger px-2 py-1 text-xs font-medium text-white">{ text }</span>
}

templ SoftBadgeSuccess(text string) {
	<!-- success Badge -->
	<span class="w-fit inline-flex overflow-hidden rounded-sm border border-success bg-surface text-xs font-medium text-success">
		<span class="px-2 py-1 bg-success/10">{ text }</span>
	</span>
}

templ SoftBadgeWarning(text string) {
	<!-- warning Badge -->
	<span class="w-fit inline-flex overflow-hidden rounded-sm border border-warning bg-surface text-xs font-medium text-warning">
		<span class="px-2 py-1 bg-warning/10">{ text }</span>
	</span>
}

templ SoftBadgeDanger(text string) {
	<!-- danger Badge -->
	<span class="w-fit inline-flex overflow-hidden rounded-sm border border-danger bg-surface text-xs font-medium text-danger">
		<span class="px-2 py-1 bg-danger/10">{ text }</span>
	</span>
}
