package partials

templ ImageViewer(title, image string) {
	<div x-data="{imageViewerOpen: false}">
		<!-- Image -->
		<div
			x-on:click="imageViewerOpen = true"
			class="cursor-pointer outline-1 outline-pale-gray max-h-full h-full"
		>
			<img
				src={ image }
				alt="image"
				class="max-h-full object-contain"
				loading="lazy"
			/>
		</div>
		<!-- Backdrop -->
		<div
			x-cloak
			x-show="imageViewerOpen"
			x-on:keydown.esc.window="imageViewerOpen = false"
			x-on:click.self="imageViewerOpen = false"
			x-transition
			role="dialog"
			aria-modal="true"
			aria-labelledby="defaultModalTitle"
			class="fixed inset-0 z-30 grid place-content-center bg-neutral-gray/50"
		>
			<!-- Modal Dialog -->
			<div
				x-show="imageViewerOpen"
				x-transition:enter="transition ease-out duration-200 delay-100 motion-reduce:transition-opacity"
				x-transition:enter-start="opacity-0"
				x-transition:enter-end="opacity-100"
				class="rounded-sm bg-white p-2 outline-1 outline-pale-gray"
			>
				if title != "" {
					<h3 class="mb-2 font-medium">{ title }</h3>
				}
				<img
					src={ image }
					alt="image"
					loading="lazy"
					class="max-h-[80vh] max-w-[80vw] object-cover"
				/>
			</div>
		</div>
	</div>
}
