package partials

import "nearbyassist/internal/dto"

templ MapComponent(data dto.MapData) {
	<div id="map" class="h-[80vh] outline-1 outline-pale-gray"></div>
	@templ.JSONScript("services", data.Services)
	<script>
        (function() {
            const params = new URLSearchParams(window.location.search);
            const services = JSON.parse(document.getElementById("services").textContent);
            if (!services) return;

            const middleOfTagum = [125.80935362791702, 7.446905276490894];

            const map = new maplibregl.Map({
                style: 'https://tiles.openfreemap.org/styles/bright',
                center: middleOfTagum,
                zoom: 12,
                container: 'map',
            })

            let marker = new maplibregl.Marker({
                color: "red",
            });

            const bounds = new maplibregl.LngLatBounds();

            services.forEach(service => {
                bounds.extend([service.Address.Longitude, service.Address.Latitude]);
            });

            if (params.has("point")) {
                const latitude = params.get("point").split(",")[0];
                const longitude = params.get("point").split(",")[1];

                bounds.extend([longitude, latitude]);
            }


            map.fitBounds(bounds, {
                padding: 100,
                maxZoom: 16,
            });

            if (params.has("point")) {
                const latitude = params.get("point").split(",")[0];
                const longitude = params.get("point").split(",")[1];

                let marker = new maplibregl.Marker({color: "red"});
                const coord = new maplibregl.LngLat(longitude, latitude);
                marker.setLngLat(coord);
                marker.addTo(map);
            }

            services.forEach(service => {
                const popup = createPopup(service);
                let marker = new maplibregl.Marker({color: "red"});
                const coord = new maplibregl.LngLat(service.Address.Longitude, service.Address.Latitude);
                marker.setLngLat(coord);
                marker.setPopup(popup);
                marker.addTo(map);
            })

            const nav = new maplibregl.NavigationControl();
            map.addControl(nav, "bottom-right");

            function createPopup(service) {
                let popup = new maplibregl.Popup({
                    closeButton: false,
                    focusAfterOpen: false,
                });
                const div = document.createElement("div");

                const hStyles = [
                    "font-medium",
                    "text-xl",
                    "mb-2",
                ];
                const h = document.createElement("h2");
                h.innerText = service.Title;
                hStyles.forEach(style => {
                    h.classList.add(style);
                });

                const aStyles = [
                    "rounded-sm",
                    "px-2",
                    "py-1",
                    "text-xs",
                    "font-medium",
                    "bg-primary",
                    "text-white",
                    "cursor-pointer",
                    "hover:opacity-75",
                ];
                const a = document.createElement("a");
                a.href = `/admin/user-management/vendors/${service.VendorId}?tab=services&offCanvas=${service.Id}`
                a.innerText = "View"
                aStyles.forEach(style => {
                    a.classList.add(style);
                });

                div.appendChild(h);
                div.appendChild(a);

                popup.setDOMContent(div);

                return popup;
            }
         })();
    </script>
}
