package partials

templ RestrictUser(actionUrl string) {
	<div x-data="{restrictModalOpen: false}">
		<!-- open button -->
		<button
			type="button"
			class="bg-danger/25 w-full rounded-sm p-2 text-danger text-center text-sm font-medium cursor-pointer transition hover:opacity-75"
			x-on:click="restrictModalOpen = true"
		>
			<span class="flex gap-1 items-center text-xs">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
					<path stroke-linecap="round" stroke-linejoin="round" d="M18.364 18.364A9 9 0 0 0 5.636 5.636m12.728 12.728A9 9 0 0 1 5.636 5.636m12.728 12.728L5.636 5.636"></path>
				</svg>
				<p>Restrict</p>
			</span>
		</button>
		<!-- backdrop -->
		<div
			x-cloak
			x-show="restrictModalOpen"
			x-on:keydown.esc.window="restrictModalOpen = false"
			x-on:click.self="restrictModalOpen = false"
			role="dialog"
			aria-modal="true"
			aria-labelledby="defaultModalTitle"
			class="fixed inset-0 z-30 bg-neutral-gray/50 grid place-content-center"
		>
			<!-- modal content -->
			<div
				x-show="restrictModalOpen"
				x-transition:enter="transition ease-out duration-200 delay-100 motion-reduce:transition-opacity"
				x-transition:enter-start="opacity-0"
				x-transition:enter-end="opacity-100"
				class="outline-1 outline-pale-gray p-2 rounded-sm bg-white p-4"
			>
				<!-- Dialog Header -->
				<div class="flex items-center justify-between">
					<h3 id="defaultModalTitle" class="font-semibold tracking-wide">Account restriction</h3>
					<button
						x-on:click="restrictModalOpen = false"
						aria-label="close modal"
						class="cursor-pointer"
					>
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" stroke="currentColor" fill="none" stroke-width="1.4" class="w-5 h-5">
							<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
						</svg>
					</button>
				</div>
				<!-- Dialog Body -->
				<form
					action={ templ.SafeURL(actionUrl) }
					method="POST"
				>
					<div>
						<input type="hidden" name="redirectRoute" id="redirectRoute"/>
						<script>
                            (function() {
                                function closestSiblingWithId(el, id) {
                                    let sibling = el.previousElementSibling;

                                    while(sibling) {
                                        if (sibling.id === id) {
                                            return sibling;
                                        }

                                        sibling = sibling.previousElementSibling;
                                    }

                                    return null;
                                 }

                                 const script = document.currentScript;
                                 const hiddenInput = closestSiblingWithId(script, "redirectRoute")
                                 if (!hiddenInput) return;

                                 hiddenInput.value = window.location.pathname;
                             })();
                        </script>
					</div>
					<!-- Inputs -->
					<div class="mt-4 grid gap-2">
						<!-- duration -->
						<div>
							<label
								for="duration"
								class="text-sm text-neutral-dark font-medium"
							>Duration</label>
							@DaysInput(DaysInputProps{
								Id:          "duration",
								Name:        "duration",
								Placeholder: "restriction duration",
							})
						</div>
						<!-- reason -->
						<div>
							<label
								for="reason"
								class="text-sm text-neutral-dark font-medium"
							>Reason</label>
							<textarea
								name="reason"
								id="reason"
								rows="6"
								placeholder="reason..."
								autocomplete="off"
								class="text-neutral-dark text-sm outline-1 outline-pale-gray p-2 rounded-sm w-full"
							></textarea>
						</div>
					</div>
					<!-- Warning message -->
					<div class="mt-4">
						<p class="text-xs text-danger py-2">
							This action restricts the account for the specified duration.
						</p>
					</div>
					<!-- Dialog Footer -->
					<div class="flex gap-2 justify-end mt-4">
						<button
							x-on:click="restrictModalOpen = false"
							type="button"
							class="rounded-sm px-4 py-2 cursor-pointer font-medium text-neutral-dark hover:bg-neutral-gray/25 hover:opacity-75"
						>Cancel</button>
						<button
							x-on:click="restrictModalOpen = false"
							type="submit"
							class="rounded-sm bg-danger px-4 py-2 cursor-pointer text-white text-center text-sm font-medium hover:opacity-75"
						>
							<span class="flex gap-1 items-center">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
									<path stroke-linecap="round" stroke-linejoin="round" d="M18.364 18.364A9 9 0 0 0 5.636 5.636m12.728 12.728A9 9 0 0 1 5.636 5.636m12.728 12.728L5.636 5.636"></path>
								</svg>
								<p>Restrict</p>
							</span>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
}
