package partials

import (
	"nearbyassist/internal/models"
	"nearbyassist/views/partials/nav"
)

templ Sidebar(user models.AdminModel) {
	<div class="h-screen flex flex-col outline-1 outline-pale-gray justify-between bg-white">
		<div>
			@logo()
			@navlist(user)
		</div>
		<div class="">
			<form action="/auth/logout" method="POST">
				<button
					type="submit"
					class="w-full flex items-center gap-2 px-4 py-2 text-sm text-neutral-dark outline-1 outline-pale-gray hover:bg-danger/50 cursor-pointer"
					role="menuitem"
				>
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="red" class="size-4">
						<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9"></path>
					</svg>
					Sign-out
				</button>
			</form>
		</div>
		<script>
            (function() {
                 const verification = document.getElementById("sidebar_verification")
                 const application = document.getElementById("sidebar_application")
                 const report = document.getElementById("sidebar_report")
                 const prr = document.getElementById("sidebar_prr")

                 function updateIndicator(parentElement, value) {
                     if (!parentElement) return;

                     const indicator = parentElement.querySelector('[data-indicator]');
                     if (value === 0) {
                         indicator.parentNode.classList.remove("grid");
                         indicator.parentNode.classList.add("hidden");
                         return;
                     }

                     indicator.innerText = value;
                     indicator.parentNode.classList.remove("hidden");
                     indicator.parentNode.classList.add("grid");
                 }

                 const sse = new EventSource("/admin/sse");

                 sse.onmessage = function(event) {
                     const data = JSON.parse(event.data);

                     updateIndicator(verification, data.verification);
                     updateIndicator(application, data.application);
                     updateIndicator(report, data.report);
                     updateIndicator(prr, data.prr);
                 }

                 sse.onerror = function(error) {
                     console.error(error);
                 }
             })();
        </script>
	</div>
}

templ logo() {
	<div class="px-4 py-3">
		<div class="text-xl font-bold">
			<span class="">Nearby</span>
			<span class="text-green-700">Assist</span>
		</div>
	</div>
}

templ user() {
	<div
		x-data="{ isOpen: false, openedWithKeyboard: false }"
		class="relative outline-1 outline-pale-gray"
		x-on:keydown.esc.window="isOpen = false, openedWithKeyboard = false"
	>
		<!-- Toggle Button -->
		<button
			type="button"
			x-on:click="isOpen = ! isOpen"
			class="p-2 inline-flex w-full justify-between items-center gap-2 whitespace-nowrap text-sm tracking-wide transition cursor-pointer hover:bg-primary/50 hover:opacity-75"
			aria-haspopup="true"
			x-on:keydown.space.prevent="openedWithKeyboard = true"
			x-on:keydown.enter.prevent="openedWithKeyboard = true"
			x-on:keydown.down.prevent="openedWithKeyboard = true"
			x-bind:class="isOpen || openedWithKeyboard ? 'text-on-surface-strong dark:text-on-surface-dark-strong' : 'text-on-surface dark:text-on-surface-dark'"
			x-bind:aria-expanded="isOpen || openedWithKeyboard"
		>
			<div class="flex gap-1 items-center">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					strokeWidth="1.5"
					stroke="currentColor"
					class="size-6"
				>
					<path strokeLinecap="round" strokeLinejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path>
				</svg>
				<span>Admin </span>
			</div>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 24 24"
				stroke="currentColor"
				fill="none"
				stroke-width="1"
				class="size-5"
				aria-hidden="true"
			>
				<path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
			</svg>
		</button>
		<!-- Dropdown Menu -->
		<div
			x-cloak
			x-show="isOpen || openedWithKeyboard"
			x-transition
			x-trap="openedWithKeyboard"
			x-on:click.outside="isOpen = false, openedWithKeyboard = false"
			x-on:keydown.down.prevent="$focus.wrap().next()"
			x-on:keydown.up.prevent="$focus.wrap().previous()"
			class="z-50 absolute left-full bottom-2 flex w-fit min-w-48 flex-col overflow-hidden rounded-sm outline-1 outline-pale-gray bg-white shadow-xl"
			role="menu"
		>
			<form action="/auth/logout" method="POST">
				<button
					type="submit"
					class="w-full flex items-center gap-2 px-4 py-2 text-sm text-neutral-dark hover:bg-danger/50"
					role="menuitem"
				>
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="red" class="size-4">
						<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9"></path>
					</svg>
					Sign-out
				</button>
			</form>
		</div>
	</div>
}

templ navlist(user models.AdminModel) {
	<div class="pl-3 text-xs">
		<ul class="">
			if user.Role == "admin" {
				@nav.NavItem(nav.NavItemProps{
					Path:  "/admin/dashboard",
					Label: "Dashboard",
				})
			}
			@nav.NavItem(nav.NavItemProps{
				Path:  "/admin/map",
				Label: "Map",
			})
			if user.Role == "admin" {
				@nav.NavItem(nav.NavItemProps{
					Path:  "/admin/expertise",
					Label: "Expertise",
				})
			}
			@nav.NavWithSubItem("Requests") {
				@nav.SubItem(nav.NavItemProps{
					ID:    "verification",
					Path:  "/admin/verification-requests",
					Label: "Identity verification",
				})
				@nav.SubItem(nav.NavItemProps{
					ID:    "application",
					Path:  "/admin/vendor-applications",
					Label: "Vendor applications",
				})
			}
			@nav.NavWithSubItem("User Management") {
				@nav.SubItem(nav.NavItemProps{
					Path:  "/admin/user-management/users",
					Label: "Basic users",
				})
				@nav.SubItem(nav.NavItemProps{
					Path:  "/admin/user-management/vendors",
					Label: "Vendors",
				})
			}
			@nav.NavWithSubItem("Reports") {
				@nav.SubItem(nav.NavItemProps{
					ID:    "report",
					Path:  "/admin/complaints/users",
					Label: "Reported users",
				})
				<!--
				@nav.SubItem(nav.NavItemProps{
					Path:  "/admin/complaints/bugs",
					Label: "Bugs",
				})
                -->
			}
			if user.Role == "admin" {
				@nav.NavWithSubItem("Account Manangement") {
					@nav.SubItem(nav.NavItemProps{
						Path:  "/admin/account-management/accounts",
						Label: "Accounts",
					})
					@nav.SubItem(nav.NavItemProps{
						ID:    "prr",
						Path:  "/admin/account-management/reset",
						Label: "Password reset",
					})
				}
			}
			if user.Role == "admin" {
				@nav.NavItem(nav.NavItemProps{
					Path:  "/admin/logs",
					Label: "Logs",
				})
			}
		</ul>
	</div>
}
