package partials

templ Sidebar() {
	<div class="h-screen flex flex-col outline-1 outline-pale-gray justify-between bg-white">
		<div>
			@logo()
			@navlist()
		</div>
		<div class="">
			<form action="/admin/logout" method="POST">
				<button
					type="submit"
					class="w-full flex items-center gap-2 px-4 py-2 text-sm text-neutral-dark outline-1 outline-pale-gray hover:bg-danger/50 cursor-pointer"
					role="menuitem"
				>
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="red" class="size-4">
						<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9"></path>
					</svg>
					Sign-out
				</button>
			</form>
		</div>
	</div>
}

templ logo() {
	<div class="px-4 py-3">
		<div class="text-xl font-bold">
			<span class="">Nearby</span>
			<span class="text-green-700">Assist</span>
		</div>
	</div>
}

templ user() {
	<div
		x-data="{ isOpen: false, openedWithKeyboard: false }"
		class="relative outline-1 outline-pale-gray"
		x-on:keydown.esc.window="isOpen = false, openedWithKeyboard = false"
	>
		<!-- Toggle Button -->
		<button
			type="button"
			x-on:click="isOpen = ! isOpen"
			class="p-2 inline-flex w-full justify-between items-center gap-2 whitespace-nowrap text-sm tracking-wide transition cursor-pointer hover:bg-primary/50 hover:opacity-75"
			aria-haspopup="true"
			x-on:keydown.space.prevent="openedWithKeyboard = true"
			x-on:keydown.enter.prevent="openedWithKeyboard = true"
			x-on:keydown.down.prevent="openedWithKeyboard = true"
			x-bind:class="isOpen || openedWithKeyboard ? 'text-on-surface-strong dark:text-on-surface-dark-strong' : 'text-on-surface dark:text-on-surface-dark'"
			x-bind:aria-expanded="isOpen || openedWithKeyboard"
		>
			<div class="flex gap-1 items-center">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					strokeWidth="1.5"
					stroke="currentColor"
					class="size-6"
				>
					<path strokeLinecap="round" strokeLinejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path>
				</svg>
				<span>Admin </span>
			</div>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 24 24"
				stroke="currentColor"
				fill="none"
				stroke-width="1"
				class="size-5"
				aria-hidden="true"
			>
				<path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
			</svg>
		</button>
		<!-- Dropdown Menu -->
		<div
			x-cloak
			x-show="isOpen || openedWithKeyboard"
			x-transition
			x-trap="openedWithKeyboard"
			x-on:click.outside="isOpen = false, openedWithKeyboard = false"
			x-on:keydown.down.prevent="$focus.wrap().next()"
			x-on:keydown.up.prevent="$focus.wrap().previous()"
			class="z-50 absolute left-full bottom-2 flex w-fit min-w-48 flex-col overflow-hidden rounded-sm outline-1 outline-pale-gray bg-white shadow-xl"
			role="menu"
		>
			<form action="/admin/logout" method="POST">
				<button
					type="submit"
					class="w-full flex items-center gap-2 px-4 py-2 text-sm text-neutral-dark hover:bg-danger/50"
					role="menuitem"
				>
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="red" class="size-4">
						<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9"></path>
					</svg>
					Sign-out
				</button>
			</form>
		</div>
	</div>
}

templ navlist() {
	<div class="pl-3 text-xs">
		<ul class="">
			@navItem("/admin/dashboard", "Dashboard")
			@navItem("/admin/map", "Map")
			@navItem("/admin/expertise", "Expertise")
			@navWithSubItem("Requests") {
				@subNavItem("/admin/verification-requests", "Identity verification")
				@subNavItem("/admin/vendor-applications", "Vendor applications")
			}
			@navWithSubItem("User Management") {
				@subNavItem("/admin/user-management/users", "Basic users")
				@subNavItem("/admin/user-management/vendors", "Vendors")
			}
			@navWithSubItem("Reports") {
				@subNavItem("/admin/complaints/users", "Reported users")
				@subNavItem("/admin/complaints/bugs", "Bug reports")
			}
			@navWithSubItem("Account Management") {
				@subNavItem("/admin/account-management/reset", "Password reset")
			}
		</ul>
	</div>
}

templ navItem(path, title string) {
	<a
		href={ templ.URL(path) }
		data-path={ path }
		class="flex gap-3 rounded-l-3xl px-3 py-2 items-center hover:bg-primary hover:opacity-75"
	>
		{ children... }
		<span>{ title }</span>
		<script>
            (() => {
                 let currentScript = document.currentScript;
                 let parent = currentScript.closest("a");
                 const path = parent.getAttribute("data-path");
                 if (location.pathname.includes(path)) {
                     parent.classList.add("active");
                 }
             })()
        </script>
	</a>
}

templ navWithSubItem(title string) {
	<a
		href="#"
		class="flex items-center gap-2 px-3 py-2 text-sm rounded-md underline-offset-2"
	>
		<span class="text-xs">{ title }</span>
	</a>
	<ul class="pl-4">
		{ children... }
	</ul>
}

templ subNavItem(path, title string) {
	<li class="border-l pl-2 py-0.5 border-pale-gray">
		<a
			href={ templ.URL(path) }
			data-path={ path }
			class="flex gap-3 rounded-l-3xl px-3 py-2 items-center hover:bg-primary hover:opacity-75"
		>
			<span>{ title }</span>
			<script>
                (() => {
                     let currentScript = document.currentScript;
                     let parent = currentScript.closest("a");
                     const path = parent.getAttribute("data-path");
                     if (location.pathname.includes(path)) {
                         parent.classList.add("active");
                     }
                 })()
            </script>
		</a>
	</li>
}
