package partials

type UnrestrictModalProps struct {
	Title       string
	ButtonLabel string
	ActionURL   string
}

templ UnrestrictUser(props UnrestrictModalProps) {
	<div x-data="{unrestrictModalOpen: false, loading: false}">
		<!-- open button -->
		<button
			type="button"
			class="bg-danger/25 w-full rounded-sm p-2 text-danger text-center text-xs font-medium cursor-pointer transition hover:opacity-75"
			x-on:click="unrestrictModalOpen = true"
		>
			<span class="flex gap-1 items-center text-xs">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
					<path stroke-linecap="round" stroke-linejoin="round" d="M18.364 18.364A9 9 0 0 0 5.636 5.636m12.728 12.728A9 9 0 0 1 5.636 5.636m12.728 12.728L5.636 5.636"></path>
				</svg>
				<p>{ props.ButtonLabel }</p>
			</span>
		</button>
		<!-- backdrop -->
		<div
			x-cloak
			x-show="unrestrictModalOpen"
			x-on:keydown.esc.window="unrestrictModalOpen = false"
			x-on:click.self="unrestrictModalOpen = false"
			role="dialog"
			aria-modal="true"
			aria-labelledby="defaultModalTitle"
			class="fixed inset-0 z-30 bg-neutral-gray/50 grid place-content-center"
		>
			<!-- modal content -->
			<div
				x-show="unrestrictModalOpen"
				x-transition:enter="transition ease-out duration-200 delay-100 motion-reduce:transition-opacity"
				x-transition:enter-start="opacity-0"
				x-transition:enter-end="opacity-100"
				class="outline-1 outline-pale-gray p-2 rounded-sm bg-white p-4 relative"
			>
				<!-- Spinner -->
				<div
					x-show="loading"
					class="absolute inset-0 grid place-items-center bg-neutral-gray/30 outline-none border-none"
				>
					@Spinner()
				</div>
				<!-- Dialog Header -->
				<div class="flex items-center justify-between">
					<h3 id="defaultModalTitle" class="font-semibold tracking-wide">{ props.Title }</h3>
					<button
						x-on:click="unrestrictModalOpen = false"
						aria-label="close modal"
						class="cursor-pointer"
					>
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" stroke="currentColor" fill="none" stroke-width="1.4" class="w-5 h-5">
							<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
						</svg>
					</button>
				</div>
				<!-- Dialog Body -->
				<div class="mt-4">
					<p class="text-neutral-dark">Are you sure about this action?</p>
					<p class="text-xs text-danger py-2">
						This action forcefully lifts the user restriction regardless of the duration applied restriction.
					</p>
				</div>
				<!-- Dialog Footer -->
				<div class="mt-4">
					<form
						action={ templ.SafeURL(props.ActionURL) }
						method="POST"
						x-on:submit="loading = true"
					>
						<div>
							<input type="hidden" name="redirectRoute" id="redirectRoute"/>
							<script>
                                (function() {
                                    function closestSiblingWithId(el, id) {
                                        let sibling = el.previousElementSibling;

                                        while(sibling) {
                                            if (sibling.id === id) {
                                                return sibling;
                                            }

                                            sibling = sibling.previousElementSibling;
                                        }

                                        return null;
                                    }

                                     const script = document.currentScript;
                                     const hiddenInput = closestSiblingWithId(script, "redirectRoute")
                                     if (!hiddenInput) return;

                                     hiddenInput.value = window.location.pathname;
                                 })();
                            </script>
						</div>
						<div class="mt-4 grid gap-2">
							<!-- admin password -->
							<div>
								<label for="password" class="font-medium text-neutral-dark">Password</label>
								@Password(PasswordProps{
									Placeholder: "admin password",
									Id:          "password",
									Name:        "password",
								})
							</div>
						</div>
						<div class="flex -2 justify-end mt-4">
							<!-- cancel button -->
							<button
								x-on:click="unrestrictModalOpen = false"
								type="button"
								class="rounded-sm px-4 py-2 cursor-pointer font-medium text-neutral-dark hover:bg-neutral-gray/25 hover:opacity-75"
							>Cancel</button>
							<!-- submit button -->
							<button
								type="submit"
								class="rounded-sm bg-danger px-4 py-2 cursor-pointer text-white text-center text-xs font-medium hover:opacity-75"
							>
								<span class="flex gap-1 items-center">
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
										<path stroke-linecap="round" stroke-linejoin="round" d="M18.364 18.364A9 9 0 0 0 5.636 5.636m12.728 12.728A9 9 0 0 1 5.636 5.636m12.728 12.728L5.636 5.636"></path>
									</svg>
									<p>{ props.ButtonLabel }</p>
								</span>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
}
