package pages

import (
	"nearbyassist/internal/dto"
	"nearbyassist/internal/models"
	"nearbyassist/views/layout"
	"nearbyassist/views/partials"
)

templ AccountList(user models.AdminModel, accounts []dto.Admin, flash string) {
	@layout.Layout(user) {
		@templ.JSONScript("flash", flash)
		@partials.ToastNotification()
		@partials.PageBanner("Accounts", "")
		<div class="flex justify-end py-2">
			@inviteMember()
		</div>
		@accountsTable(accounts)
	}
}

templ accountsTable(accounts []dto.Admin) {
	<div class="w-full overflow-hidden overflow-x-auto rounded-sm outline-1 outline-neutral-gray-lighter">
		<table class="w-full text-left text-sm">
			<thead class="bg-primary-greener text-sm font-semibold text-white">
				<tr>
					<th scope="col" class="p-4">Account ID</th>
					<th scope="col" class="p-4">Username</th>
					<th scope="col" class="p-4">Email</th>
					<th scope="col" class="p-4">Created At</th>
					<th scope="col" class="p-4">Role</th>
					<th scope="col" class="p-4"></th>
				</tr>
			</thead>
			<tbody class="divide-y divide-gray-300">
				if len(accounts) < 1 {
					<tr class="">
						<td class="px-6 py-4 text-neutral-dark" align="center" colspan="6" id="emptyTable">Empty</td>
					</tr>
				} else {
					for _, account := range accounts {
						<tr class="text-xs">
							<td class="p-4">{ account.Id }</td>
							<td class="p-4">{ account.Username } </td>
							<td class="p-4">{ account.Email } </td>
							<td class="p-4">{ account.CreatedAt } </td>
							<td class="p-4">
								if account.Role == "admin" {
									@partials.SoftBadgeSuccess(account.Role)
								} else {
									@partials.SoftBadgeWarning(account.Role)
								}
							</td>
							<td class="p-4">
								<div class="relative">
									@actions()
								</div>
							</td>
						</tr>
					}
				}
			</tbody>
		</table>
	</div>
}
