package pages

import (
	"nearbyassist/internal/models"
	"nearbyassist/views/layout"
	"nearbyassist/views/partials"
	dashboardcomponent "nearbyassist/views/partials/dashboard_component"
)

templ Dashboard(data models.DashboardModel) {
	@layout.Layout() {
		@partials.PageBanner("Overview", "Monitor your activities")
		@dashboardData(data)
	}
}

templ dashboardData(data models.DashboardModel) {
	<section class="grid gap-4">
		<div class="grid gap-4 grid-cols-12">
			<div class="col-span-4 grid gap-4">
				@dashboardcomponent.BugReport(data.BugReportData)
			</div>
			<div class="outline-1 outline-pale-gray rounded-sm p-2 col-span-4 hover:shadow-xl">
				<p class="text-xs text-neutral-gray font-medium">Pending applications</p>
			</div>
			<div class="outline-1 outline-pale-gray rounded-sm p-2 col-span-4 hover:shadow-xl">
				<p class="text-xs text-neutral-gray font-medium">Complaints</p>
			</div>
		</div>
		<div class="grid grid-cols-12 gap-4">
			<div class="col-span-4 outline-1 outline-pale-gray rounded-sm">
				@dashboardcomponent.UserData(data.UserData)
			</div>
			<div class="col-span-8 outline-1 outline-pale-gray rounded-sm">
				@dashboardcomponent.Transaction(data.TransactionData)
			</div>
		</div>
	</section>
}
