package pages

import (
	"fmt"
	"nearbyassist/internal/dto"
	"nearbyassist/internal/models"
	"nearbyassist/views/layout"
	"nearbyassist/views/partials"
	dashboardcomponent "nearbyassist/views/partials/dashboard_component"
	"strconv"
)

templ Dashboard(user models.AdminModel, data dto.Dashboard) {
	@layout.Layout(user) {
		@partials.PageBanner("Overview", "Monitor your activities")
		@newDashboard(data)
	}
}

templ newDashboard(data dto.Dashboard) {
	<section class="grid gap-4">
		<!-- Head part -->
		@counts(data)
		<div class="grid grid-cols-12 gap-4">
			<div class="col-span-4 grid gap-4">
				<div class="grid">
					@recentUsers(data)
				</div>
				<div class="grid">
					@recentSearches(data.SearchTrend.Searches)
				</div>
			</div>
			<div class="col-span-8 grid">
				@dashboardcomponent.Booking(data.WeeklyBooking)
			</div>
		</div>
	</section>
}

templ recentUsers(data dto.Dashboard) {
	<card class="w-full rounded-sm p-2 outline-1 outline-pale-gray hover:outline-primary">
		<div class="mb-2">
			<h3 class="text-xs font-medium text-neutral-gray">Recent Users</h3>
		</div>
		if len(data.Users.Recent) < 1 {
			<div class="grid place-items-center text-xs">
				<p>No Data</p>
			</div>
		} else {
			<table class="w-full border-collapse overflow-scroll">
				for _, user := range data.Users.Recent {
					<tr class="p-1 text-xs items-center cursor-pointer hover:bg-neutral-gray/25">
						<td class="p-2">
							<a href={ templ.URL(fmt.Sprintf("/admin/user-management/users/%s", user.Id)) }>
								<div class="flex w-max items-center gap-2">
									<img
										class="size-8 rounded-full object-cover"
										src={ user.ImageURL }
										alt="user avatar"
									/>
									<div class="flex flex-col">
										<span class="font-medium text-neutral-900">{ user.Name }</span>
										<span class="text-neutral-600 opacity-85">{ user.Email }</span>
									</div>
								</div>
							</a>
						</td>
						<td class="p-2">{ user.CreatedAt }</td>
					</tr>
				}
			</table>
		}
	</card>
}

templ recentSearches(data []string) {
	<card class="w-full rounded-sm p-2 outline-1 outline-pale-gray hover:outline-primary">
		<div class="mb-2">
			<h3 class="text-xs font-medium text-neutral-gray">Recent Searches</h3>
		</div>
		if len(data) < 1 {
			<div class="grid place-items-center text-xs h-full">
				<p>No Data</p>
			</div>
		} else {
			<table class="w-full border-collapse overflow-scroll text-left">
				for i, searchterm := range data {
					<tr class="p-1 text-xs items-center cursor-pointer hover:bg-neutral-gray/25">
						<td class="p-2 font-medium text-neutral-gray">{ strconv.Itoa(i+1) }</td>
						<td class="p-2 font-medium text-neutral-dark">{ searchterm }</td>
						<td class="p-2 font-medium text-neutral-dark">{  }</td>
					</tr>
				}
			</table>
		}
	</card>
}
