package pages

import (
	"nearbyassist/internal/models"
	"nearbyassist/views/layout"
	"nearbyassist/views/partials"
	dashboardcomponent "nearbyassist/views/partials/dashboard_component"
	"strconv"
)

templ Dashboard(user models.AdminModel, data models.DashboardModel) {
	@layout.Layout(user) {
		@partials.PageBanner("Overview", "Monitor your activities")
		@dashboardData(data)
	}
}

templ dashboardData(data models.DashboardModel) {
	<section class="grid gap-4">
		<div class="grid grid-cols-12 gap-4">
			<div class="col-span-3 grid">
				<a href="/admin/verification-requests" class="grid">
					<card class="w-full rounded-sm outline-1 outline-pale-gray hover:shadow-xl hover:outline-primary">
						<!-- Title -->
						<span class="flex justify-between p-2">
							<p class="text-xs font-medium text-neutral-gray">Verification requests</p>
						</span>
						<!-- Count -->
						<div class="flex items-baseline gap-2 p-2">
							<p class="text-4xl font-semibold text-neutral-dark">{ strconv.Itoa(data.RequestData.IdentityVerification.Total) }</p>
							<p class="text-xs font-semibold text-neutral-gray">total</p>
						</div>
					</card>
				</a>
			</div>
			<div class="col-span-3 grid">
				<a href="/admin/vendor-applications" class="grid">
					<card class="w-full rounded-sm outline-1 outline-pale-gray hover:shadow-xl hover:outline-primary">
						<!-- Title -->
						<span class="flex justify-between p-2">
							<p class="text-xs font-medium text-neutral-gray">Vendor applications</p>
						</span>
						<!-- Count -->
						<div class="flex items-baseline gap-2 p-2">
							<p class="text-4xl font-semibold text-neutral-dark">{ strconv.Itoa(data.RequestData.VendorApplication.Total) }</p>
							<p class="text-xs font-semibold text-neutral-gray">total</p>
						</div>
					</card>
				</a>
			</div>
			<div class="col-span-3 grid">
				<a href="/admin/complaints/bugs" class="grid">
					@dashboardcomponent.BugReport(data.ReportData.WeeklyBugReport)
				</a>
			</div>
			<div class="col-span-3 grid">
				<a href="/admin/complaints/users" class="grid">
					@dashboardcomponent.VendorReport(data.ReportData.WeeklyVendorReport)
				</a>
			</div>
		</div>
		<div class="grid grid-cols-12 gap-4">
			<div class="col-span-4 grid">
				@dashboardcomponent.UserData(data.UserData)
			</div>
			<div class="col-span-8 grid">
				@dashboardcomponent.Booking(data.BookingData)
			</div>
		</div>
	</section>
}
