package logspage

import (
	"nearbyassist/internal/dto"
	"nearbyassist/internal/models"
	"nearbyassist/views/layout"
	"nearbyassist/views/partials"
)

templ Logs(admin models.AdminModel, logs []dto.ActivityLog) {
	@layout.Layout(admin) {
		@partials.PageBanner("Logs", "monitor activities in the site")
		<!-- content -->
		<div class="w-full overflow-hidden overflow-x-auto rounded-sm outline-1 outline-gray-300">
			<table class="w-full text-left text-sm">
				<thead class="bg-primary-greener text-sm font-semibold text-white">
					<tr>
						<th scope="col" class="p-4">Log ID</th>
						<th scope="col" class="p-4">Admin Username</th>
						<th scope="col" class="p-4">Action</th>
						<th scope="col" class="p-4">Target</th>
						<th scope="col" class="p-4">Date</th>
					</tr>
				</thead>
				<tbody class="divide-y divide-gray-300">
					if len(logs) < 1 {
						<tr class="">
							<td class="px-6 py-4 text-neutral-dark" align="center" colspan="5" id="emptyTable">Empty</td>
						</tr>
					} else {
						for _, log := range logs {
							<tr class="text-xs text-neutral-dark">
								<td class="p-4">{ log.ID } </td>
								<td class="p-4">{ log.AdminUsername } </td>
								<td class="p-4 font-bold">{ log.Action }</td>
								<td class="p-4">{ log.TargetEmail }</td>
								<td class="p-4">{ log.CreatedAt }</td>
							</tr>
						}
					}
				</tbody>
			</table>
		</div>
		@pagination()
	}
}

templ pagination() {
	<nav aria-label="pagination">
		<ul class="flex shrink-0 items-center gap-2 text-sm font-medium">
			<button
				type="button"
				class="flex items-center rounded-sm p-1 cursor-pointer text-xs text-neutral-gray hover:text-black"
				onClick="prevPage()"
			>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="size-6">
					<path fill-rule="evenodd" d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd"></path>
				</svg>
				Prev
			</button>
			<li>
				<p id="pageNumber">1</p>
			</li>
			<button
				type="button"
				class="flex items-center rounded-sm p-1 cursor-pointer text-xs text-neutral-gray hover:text-black"
				onClick="nextPage()"
			>
				Next
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="size-6">
					<path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"></path>
				</svg>
			</button>
		</ul>
		<script>
            const DEFAULT_LIMIT = 20;

            function getCurrentPage() {
              const MIN_PAGE = 1;

              const queryParams = window.location.search;
              if (queryParams === "") {
                return MIN_PAGE;
              }

              const urlParams = new URLSearchParams(window.location.search);
              let offset = urlParams.get("offset");
              if (!offset) {
                return MIN_PAGE;
              } else {
                offset = parseInt(offset);
              }

              let limit = urlParams.get("limit");
              if (!limit) {
                limit = DEFAULT_LIMIT;
              } else {
                limit = parseInt(limit);
              }

              return offset / parseInt(limit) + 1;
            }

            function computeOffset(pageNumber) {
              return DEFAULT_LIMIT * (pageNumber - 1);
            }

            function nextPage() {
              const emptyTable = document.getElementById("emptyTable");
              if (emptyTable) return;

              const currPage = getCurrentPage();
              const offset = computeOffset(currPage + 1);

              const path = window.location.pathname;
              window.location.href = `${path}?limit=${DEFAULT_LIMIT}&offset=${offset}`;
            }

            function prevPage() {
              const currPage = getCurrentPage();
              if (currPage <= 1) return;

              const offset = computeOffset(currPage - 1);

              const path = window.location.pathname;
              window.location.href = `${path}?limit=${DEFAULT_LIMIT}&offset=${offset}`;
            }

            const pageNumber = document.getElementById("pageNumber");
            if (pageNumber) {
              pageNumber.innerText = getCurrentPage();
            }
        </script>
	</nav>
}
