package logspage

import (
	"nearbyassist/internal/dto"
	"nearbyassist/internal/models"
	"nearbyassist/views/layout"
	"nearbyassist/views/partials"
)

templ Logs(admin models.AdminModel, logs []dto.ActivityLog) {
	@layout.Layout(admin) {
		@partials.PageBanner("Logs", "monitor activities in the site")
		<!-- content -->
		<div class="flex justify-end gap-4">
			@rangeFilter()
			@partials.DownloadButton(partials.DownloadButtonProps{
				Link:       "/admin/logs/download",
				Label:      "Download CSV",
				WithParams: true,
			})
		</div>
		<div class="w-full overflow-hidden overflow-x-auto mt-2">
			<table class="w-full text-left text-sm text-xs text-neutral-gray">
				<thead class="font-medium bg-primary text-white rounded-sm">
					<tr>
						<th scope="col" class="p-1.5">Log ID</th>
						<th scope="col" class="p-1.5">Admin Username</th>
						<th scope="col" class="p-1.5">Action</th>
						<th scope="col" class="p-1.5">Target</th>
						<th scope="col" class="p-1.5">Date</th>
					</tr>
				</thead>
				<tbody class="">
					if len(logs) < 1 {
						<tr class="">
							<td class="px-6 py-4 text-neutral-dark" align="center" colspan="5" id="emptyTable">No recorded logs</td>
						</tr>
					} else {
						for _, log := range logs {
							<tr class="">
								<td class="p-1.5">{ log.ID } </td>
								<td class="p-1.5">{ log.AdminUsername } </td>
								<td class="p-1.5 font-bold">{ log.Action }</td>
								<td class="p-1.5">{ log.TargetEmail }</td>
								<td class="p-1.5">{ log.CreatedAt }</td>
							</tr>
						}
					}
				</tbody>
			</table>
		</div>
		<div class="mt-4">
			@pagination()
		</div>
	}
}

templ pagination() {
	<nav aria-label="pagination">
		<ul class="flex shrink-0 items-center gap-2 text-sm font-medium">
			<button
				type="button"
				class="flex cursor-pointer items-center rounded-sm p-1 text-xs text-neutral-gray hover:text-black"
				onClick="prevPage()"
			>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="size-6">
					<path fill-rule="evenodd" d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd"></path>
				</svg>
				Prev
			</button>
			<li>
				<p id="pageNumber">1</p>
			</li>
			<button
				type="button"
				class="flex cursor-pointer items-center rounded-sm p-1 text-xs text-neutral-gray hover:text-black"
				onClick="nextPage()"
			>
				Next
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="size-6">
					<path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"></path>
				</svg>
			</button>
		</ul>
		<script>
            const DEFAULT_LIMIT = 20;

            function getCurrentPage() {
              const MIN_PAGE = 1;

              const queryParams = window.location.search;
              if (queryParams === "") {
                return MIN_PAGE;
              }

              const urlParams = new URLSearchParams(window.location.search);
              let offset = urlParams.get("offset");
              if (!offset) {
                return MIN_PAGE;
              } else {
                offset = parseInt(offset);
              }

              let limit = urlParams.get("limit");
              if (!limit) {
                limit = DEFAULT_LIMIT;
              } else {
                limit = parseInt(limit);
              }

              return offset / parseInt(limit) + 1;
            }

            function computeOffset(pageNumber) {
              return DEFAULT_LIMIT * (pageNumber - 1);
            }

            function nextPage() {
              const emptyTable = document.getElementById("emptyTable");
              if (emptyTable) return;

              const currPage = getCurrentPage();
              const offset = computeOffset(currPage + 1);

              const path = window.location.pathname;
              const params = new URLSearchParams(window.location.search);
              const range = params.get("range")

              if (range) {
                window.location.href = `${path}?range=${range}&limit=${DEFAULT_LIMIT}&offset=${offset}`;
              } else {
                window.location.href = `${path}?limit=${DEFAULT_LIMIT}&offset=${offset}`;
              }
            }

            function prevPage() {
              const currPage = getCurrentPage();
              if (currPage <= 1) return;

              const offset = computeOffset(currPage - 1);

              const path = window.location.pathname;
              const params = new URLSearchParams(window.location.search);
              const range = params.get("range")

              if (range) {
                window.location.href = `${path}?range=${range}&limit=${DEFAULT_LIMIT}&offset=${offset}`;
              } else {
                window.location.href = `${path}?limit=${DEFAULT_LIMIT}&offset=${offset}`;
              }
            }

            const pageNumber = document.getElementById("pageNumber");
            if (pageNumber) {
              pageNumber.innerText = getCurrentPage();
            }
        </script>
	</nav>
}

templ rangeFilter() {
	<div
		x-data="{ rangeFilterOpen: false }"
		x-on:keydown.esc.prevent.stop="rangeFilterOpen = false"
		class="relative"
	>
		<!-- Dropdown Toggle Button -->
		<button
			type="button"
			class="fond-medium x-1 inline-flex cursor-pointer items-center gap-2 py-0.5 text-xs text-neutral-dark hover:opacity-75"
			id="pm-dropdown"
			aria-haspopup="true"
			x-bind:aria-expanded="rangeFilterOpen"
			x-on:click="rangeFilterOpen = true"
		>
			<!-- selected range label -->
			<span id="selected_range" class="font-medium"></span>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 16 16"
				fill="currentColor"
				data-slot="icon"
				class="hi-micro hi-chevron-down inline-block size-5 opacity-50"
				x-bind:class="{ 'rotate-180': rangeFilterOpen }"
			>
				<path
					fill-rule="evenodd"
					d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z"
					clip-rule="evenodd"
				></path>
			</svg>
		</button>
		<!-- END Dropdown Toggle Button -->
		<!-- Dropdown -->
		<div
			x-cloak
			x-show="rangeFilterOpen"
			x-transition:enter="transition ease-out duration-100"
			x-transition:enter-start="opacity-0 -translate-y-3"
			x-transition:enter-end="opacity-100 translate-y-0"
			x-transition:leave="transition ease-in duration-75"
			x-transition:leave-start="opacity-100 translate-y-0"
			x-transition:leave-end="opacity-0 -translate-y-3"
			x-on:click.outside="rangeFilterOpen = false"
			role="menu"
			aria-labelledby="pm-dropdown"
			class="absolute end-0 z-10 mt-2 w-44"
		>
			<div class="rounded-sm bg-white text-xs shadow-xl outline-1 outline-pale-gray">
				@rangeFilterItem("all_time", "All time")
				@rangeFilterItem("today", "Today")
				@rangeFilterItem("yesterday", "Yesterday")
				@rangeFilterItem("last_week", "Last 7 days")
				@rangeFilterItem("last_month", "Last 30 days")
			</div>
		</div>
		<!-- END Dropdown -->
		<script>
            (function() {
                const selectedRange = document.getElementById("selected_range");
                const params = new URLSearchParams(location.search);

                switch (params.get("range")) {
                    case "all_time":
                        selectedRange.innerText = "All time";
                        break;
                    case "today":
                        selectedRange.innerText = "Today";
                        break;
                    case "yesterday":
                        selectedRange.innerText = "Yesterday";
                        break;
                    case "last_week":
                        selectedRange.innerText = "Last 7 days";
                        break;
                    case "last_month":
                        selectedRange.innerText = "Last 30 days";
                        break;
                    default:
                        selectedRange.innerText = "All time";
                }
             })();
        </script>
	</div>
}

templ rangeFilterItem(value, label string) {
	<form action="/admin/logs" method="GET">
		<input hidden name="range" value={ value }/>
		<button
			type="submit"
			class="w-full cursor-pointer p-1.5 text-left text-xs text-neutral-dark hover:bg-neutral-gray/25"
		>{ label }</button>
	</form>
}
