package pages

import (
	"fmt"
	"nearbyassist/views/layout"
	"nearbyassist/views/partials"
)

type UserAccounts struct {
	Id         string
	ProfileURL string
	Name       string
	Email      string
	Verified   bool
	CreatedAt  string
}

templ AccountManagement(accounts []UserAccounts) {
	@layout.Layout() {
		@partials.PageBanner("Account Management", "View and manage accounts")
		@newUserTable(accounts)
	}
}

templ accountsData(accounts []UserAccounts) {
	<table class="w-full rounded-lg border table-auto">
		<thead>
			<tr class="border bg-primary-greener">
				<th class="px-4 py-3 text-left font-medium text-white">
					<p>
						Name
					</p>
				</th>
				<th class="px-4 py-3 text-left font-medium text-white">
					<p>
						Status
					</p>
				</th>
				<th class="px-4 py-3 text-left font-medium text-white">
					<p class="">
						Created At
					</p>
				</th>
				<th class="px-4 py-3 text-left font-medium text-white">
					<p class="text-center">
						Action
					</p>
				</th>
			</tr>
		</thead>
		<tbody>
			if (len(accounts) < 1) {
				<tr class="border">
					<td class="px-6 py-4" align="center" colspan="5">No Users</td>
				</tr>
			} else {
				for _, account := range accounts {
					<tr class="border">
						<td class="px-6 py-4">
							<div class="flex gap-2 items-center">
								<img
									class="w-6 h-6 rounded-full aspect-square outline outline-1 outline-gray-300 bg-green-400 object-cover"
									src={ account.ProfileURL }
								/>
								<div>{ account.Name } </div>
							</div>
						</td>
						<td class="px-6 py-4">
							if account.Verified == false {
								<p class="font-medium text-red-700">unverified</p>
							} else {
								<p class="font-medium text-green-700">verified</p>
							}
						</td>
						<td class="px-6 py-4">{ account.CreatedAt }</td>
						<td class="flex justify-center px-6 py-4">
							<ul>
								<a
									href={ templ.SafeURL(fmt.Sprintf("/admin/account-management/%s", account.Id)) }
									class="bg-yellow-400 p-2 rounded-sm hover:bg-yellow-600"
								>
									View Profile
								</a>
							</ul>
						</td>
					</tr>
				}
			}
		</tbody>
	</table>
}

templ newUserTable(accounts []UserAccounts) {
	<div class="overflow-hidden w-full overflow-x-auto rounded-sm outline-1 outline-gray-300">
		<table class="w-full text-left text-sm">
			<thead class="text-white text-sm font-semibold bg-primary-greener">
				<tr>
					<th scope="col" class="p-4">User</th>
					<th scope="col" class="p-4">ID</th>
					<th scope="col" class="p-4">Member Since</th>
					<th scope="col" class="p-4">Status</th>
					<th scope="col" class="p-4">Action</th>
				</tr>
			</thead>
			<tbody class="divide-y divide-gray-300">
				for _, account := range accounts {
					<tr class="text-xs">
						<td class="p-4">
							<div class="flex w-max items-center gap-2">
								<img
									class="size-8 rounded-full object-cover"
									src={ account.ProfileURL }
									alt="user avatar"
								/>
								<div class="flex flex-col">
									<span class="font-medium text-neutral-900">{ account.Name }</span>
									<span class="text-neutral-600 opacity-85">{ account.Email }</span>
								</div>
							</div>
						</td>
						<td class="p-4">{ account.Id }</td>
						<td class="p-4">{ account.CreatedAt }</td>
						<td class="p-4">
							if account.Verified {
								@partials.SoftBadgeSuccess("Verified")
							} else {
								@partials.SoftBadgeDanger("Unverified")
							}
						</td>
						<td class="p-4">
							<ul>
								<a
									href={ templ.SafeURL(fmt.Sprintf("/admin/account-management/%s", account.Id)) }
									class="whitespace-nowrap w-min rounded-sm text-neutral-gray p-1 font-semibold outline-1 outline-neutral-gray hover:opacity-75 focus-visible:outline-2 focus-visible:outline-offset-2 active:opacity-100 active:outline-offset-0"
								>
									view profile
								</a>
							</ul>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}
