package pages

import (
	"nearbyassist/internal/models"
	"nearbyassist/views/layout"
	"nearbyassist/views/partials"
)

templ AccountList(accounts []models.AdminModel, flash string) {
	@layout.Layout() {
		@templ.JSONScript("flash", flash)
		@partials.ToastNotification()
		@partials.PageBanner("Accounts", "")
		@accountsTable(accounts)
	}
}

templ accountsTable(accounts []models.AdminModel) {
	<div class="w-full overflow-hidden overflow-x-auto rounded-sm outline-1 outline-gray-300">
		<table class="w-full text-left text-sm">
			<thead class="bg-primary-greener text-sm font-semibold text-white">
				<tr>
					<th scope="col" class="p-4">Account ID</th>
					<th scope="col" class="p-4">Username</th>
					<th scope="col" class="p-4">Email</th>
					<th scope="col" class="p-4">Created At</th>
				</tr>
			</thead>
			<tbody class="divide-y divide-gray-300">
				if len(accounts) < 1 {
					<tr class="">
						<td class="px-6 py-4 text-neutral-dark" align="center" colspan="4" id="emptyTable">Empty</td>
					</tr>
				} else {
					for _, account := range accounts {
						<tr class="text-xs">
							<td class="p-4">{ account.Id }</td>
							<td class="p-4">{ account.Username } </td>
							<td class="p-4">{ account.Email } </td>
							<td class="p-4">{ account.CreatedAt } </td>
						</tr>
					}
				}
			</tbody>
		</table>
	</div>
}
