package pages

import (
	"fmt"
	"nearbyassist/internal/models"
	"nearbyassist/internal/utils"
	"nearbyassist/views/layout"
	"nearbyassist/views/partials"
)

templ ViewUserAccount(data models.UserAccountPageData) {
	@layout.Layout() {
		<!-- back button -->
		<div class="mb-4">
			<button
				class="p-2 rounded-sm bg-blue-400 text-sm hover:bg-blue-500 cursor-pointer"
				onClick="history.back()"
			>
				back
			</button>
		</div>
		<!-- main content -->
		<div class="max-w-4xl mx-auto">
			<!-- user profile -->
			<div class="flex justify-between">
				<div class="flex gap-4">
					<div class="outline-1 outline-gray-300">
						<img
							src={ data.ProfileURL }
							alt="profile"
							class="w-40 h-40 aspect-square"
						/>
					</div>
					<div>
						<h1 class="text-xl font-bold">{ data.Name }</h1>
						<h2>{ data.Email }</h2>
						<p><strong>User ID:</strong> { data.Id }</p>
						<p><strong>User Since:</strong> { data.CreatedAt }</p>
						<div class="mt-3">
							<h3>Expertise</h3>
							<div class="mt-2 flex gap-2">
								for _, expertise := range data.Expertise {
									@expertiseChip(expertise)
								}
							</div>
						</div>
					</div>
				</div>
				<div>
					if data.Banned {
						@banOrUnbanButton("Unban user", fmt.Sprintf("/admin/account-management/unban/%s", data.Id), data.Banned)
					} else {
						@banOrUnbanButton("Ban user", fmt.Sprintf("/admin/account-management/ban/%s", data.Id), data.Banned)
					}
				</div>
			</div>
			<!-- stats -->
			<div class="mt-8 grid grid-cols-4 gap-4">
				<div class="outline-1 outline-gray-300 rounded-sm p-2">
					<!-- Sent Requests -->
					if data.Stat.Sent.CurrentMonth >= data.Stat.Sent.LastMonth {
						@partials.Increasing("Sent Requests", data.Stat.Sent.CurrentMonth, utils.PercentageIncrease(data.Stat.Sent.CurrentMonth, data.Stat.Sent.LastMonth))
					} else {
						@partials.Decreasing("Sent Requests", data.Stat.Sent.CurrentMonth, utils.PercentageDecrease(data.Stat.Sent.CurrentMonth, data.Stat.Sent.LastMonth))
					}
				</div>
				<div class="outline-1 outline-gray-300 rounded-sm p-2">
					<!-- Received Requests -->
					if data.Stat.Received.CurrentMonth >= data.Stat.Received.LastMonth {
						@partials.Increasing("Received Requests", data.Stat.Received.CurrentMonth, utils.PercentageIncrease(data.Stat.Received.CurrentMonth, data.Stat.Received.LastMonth))
					} else {
						@partials.Decreasing("Received Requests", data.Stat.Received.CurrentMonth, utils.PercentageDecrease(data.Stat.Received.CurrentMonth, data.Stat.Received.LastMonth))
					}
				</div>
			</div>
			<!-- services -->
			<div class="mt-8">
				<h2 class="mb-2 font-medium">Services</h2>
				<table class="w-full outline-1 outline-gray-300 rounded-lg table-auto">
					<thead>
						<tr class="bg-primary-greener outline-1 outline-gray-300">
							<th class="px-4 py-3 text-left font-medium text-white">Title</th>
							<th class="px-4 py-3 text-left font-medium text-white">Added on</th>
							<th class="px-4 py-3 text-left font-medium text-white">Tags</th>
							<th class="px-4 py-3 text-left font-medium text-white">Action</th>
						</tr>
					</thead>
					<tbody>
						for _, service := range data.Services {
							<tr class="outline-1 outline-gray-300">
								<td class="px-6 py-4">{ service.Title }</td>
								<td class="px-6 py-4">added on { utils.FormatDate(service.CreatedAt) }</td>
								<td class="px-6 py-4">
									for _, tag := range service.TagsAsString {
										<span>{ tag }</span>
									}
								</td>
								<td class="px-6 py-4">
									<button class="hover:bg-gray-300 cursor-pointer rounded-sm">
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
											<path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"></path>
										</svg>
									</button>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	}
}

templ expertiseChip(text string) {
	<p class="p-2 text-xs text-white rounded-full bg-green-800">{ text } </p>
}

templ banOrUnbanButton(text, actionUrl string, isBanned bool) {
	<div x-data="{modalIsOpen: false}">
		<button
			x-on:click="modalIsOpen = true"
			type="button"
			class="bg-red-500 hover:opacity-75 whitespace-nowrap rounded-sm px-4 py-2 text-white text-center text-sm font-medium cursor-pointer tracking-wide transition hover:opacity-75 focus-visible:outline-2 focus-visible:outline-offset-2 active:opacity-100 active:outline-offset-0"
		>
			<span class="flex gap-1 items-center">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
					<path stroke-linecap="round" stroke-linejoin="round" d="M18.364 18.364A9 9 0 0 0 5.636 5.636m12.728 12.728A9 9 0 0 1 5.636 5.636m12.728 12.728L5.636 5.636"></path>
				</svg>
				<p>
					{ text }
				</p>
			</span>
		</button>
		<div
			x-cloak
			x-show="modalIsOpen"
			x-transition.opacity.duration.200ms
			x-trap.inert.noscroll="modalIsOpen"
			x-on:keydown.esc.window="modalIsOpen = false"
			x-on:click.self="modalIsOpen = false"
			class="fixed inset-0 z-30 flex items-end justify-center -black/20 p-4 pb-8 backdrop-blur-md sm:items-center lg:p-8"
			role="dialog"
			aria-modal="true"
			aria-labelledby="defaultModalTitle"
		>
			<!-- Modal Dialog -->
			<div
				x-show="modalIsOpen"
				x-transition:enter="transition ease-out duration-200 delay-100 motion-reduce:transition-opacity"
				x-transition:enter-start="opacity-0"
				x-transition:enter-end="opacity-100"
				class="bg-white max-w-lg rounded-sm outline-1 outline-gray-300 shadow-lg"
			>
				<!-- Dialog Header -->
				<div class="flex items-center justify-between p-4">
					<h3 id="defaultModalTitle" class="font-semibold tracking-wide">{ text }</h3>
					<button x-on:click="modalIsOpen = false" aria-label="close modal">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" stroke="currentColor" fill="none" stroke-width="1.4" class="w-5 h-5">
							<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
						</svg>
					</button>
				</div>
				<!-- Dialog Body -->
				<div class="px-4 py-4">
					if isBanned {
						<p>Are you sure you want to unban this user?</p>
						<p class="text-xs text-red-500 py-2">
							This action enables their ability to log into your application.
						</p>
					} else {
						<p>Are you sure you want to ban this user?</p>
						<p class="text-xs text-red-500 py-2">
							This action disables their ability to log into your application.
						</p>
					}
				</div>
				<!-- Dialog Footer -->
				<div class="flex flex-col-reverse justify-between gap-2 p-4 sm:flex-row sm:items-center md:justify-end">
					<button
						x-on:click="modalIsOpen = false"
						type="button"
						class="whitespace-nowrap rounded-sm px-4 py-2 cursor-pointer text-center text-sm font-medium tracking-wide transition hover:opacity-75 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary active:opacity-100 active:outline-offset-0"
					>Cancel</button>
					<form
						action={ templ.SafeURL(actionUrl) }
						method="POST"
					>
						<button
							x-on:click="modalIsOpen = false"
							type="submit"
							class="whitespace-nowrap rounded-sm bg-red-400 px-4 py-2 cursor-pointer text-white text-center text-sm font-medium tracking-wide transition hover:opacity-75 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary active:opacity-100 active:outline-offset-0"
						>
							<span class="flex gap-1 items-center">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
									<path stroke-linecap="round" stroke-linejoin="round" d="M18.364 18.364A9 9 0 0 0 5.636 5.636m12.728 12.728A9 9 0 0 1 5.636 5.636m12.728 12.728L5.636 5.636"></path>
								</svg>
								<p>
									{ text }
								</p>
							</span>
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
}
