package pages

import (
	"fmt"
	"nearbyassist/internal/models"
	"nearbyassist/internal/utils"
	"nearbyassist/views/layout"
	"nearbyassist/views/partials"
	"strings"
)

templ ViewUserAccount(data models.UserAccountPageData) {
	@layout.Layout() {
		<!-- back button -->
		@partials.BackButton()
		<!-- main content -->
		<div class="max-w-4xl mx-auto">
			<!-- user profile -->
			<div class="flex justify-between">
				<div class="flex gap-4">
					<img
						src={ data.ProfileURL }
						alt="profile"
						class="w-44 h-44 aspect-square outline-1 outline-pale-gray"
					/>
					<div class="grid gap-2">
						<!-- name & email -->
						<div>
							<h1 class="text-xl font-medium text-neutral-dark">{ data.Name }</h1>
							<h2 class="text-neutral-gray">{ data.Email }</h2>
						</div>
						<!-- id & created at -->
						<div>
							<span class="flex gap-2">
								<p class="font-medium text-neutral-dark">User ID: </p>
								<p class="text-neutral-gray">{ data.Id }</p>
							</span>
							<span class="flex gap-2">
								<p class="font-medium text-neutral-dark">User Since: </p>
								<p class="text-neutral-gray">{ data.CreatedAt }</p>
							</span>
						</div>
						<!-- expertise -->
						<div class="mt-3">
							<p class="font-medium text-xs">Expertise</p>
							<div class="mt-2 flex gap-2">
								for _, expertise := range data.Expertise {
									@partials.DefaultBadgeSuccess(expertise)
								}
							</div>
						</div>
					</div>
				</div>
				<div class="flex gap-2">
					if data.Banned {
						@partials.BanUserModal("Unban user", fmt.Sprintf("/admin/account-management/unban/%s", data.Id), data.Banned)
					} else {
						@partials.BanUserModal("Ban user", fmt.Sprintf("/admin/account-management/ban/%s", data.Id), data.Banned)
					}
					@partials.UnrestrictUser(fmt.Sprintf("/admin/account-management/unrestrict/%s", data.Id))
					@partials.RestrictUser(fmt.Sprintf("/admin/account-management/restrict/%s", data.Id))
				</div>
			</div>
			<!-- stats -->
			<div class="mt-8 grid grid-cols-4 gap-4">
				<div class="outline-1 outline-pale-gray rounded-sm p-2">
					<!-- Sent Requests -->
					if data.Stat.Sent.CurrentMonth >= data.Stat.Sent.LastMonth {
						@partials.Increasing("Sent Requests", data.Stat.Sent.CurrentMonth, utils.PercentageIncrease(data.Stat.Sent.CurrentMonth, data.Stat.Sent.LastMonth))
					} else {
						@partials.Decreasing("Sent Requests", data.Stat.Sent.CurrentMonth, utils.PercentageDecrease(data.Stat.Sent.CurrentMonth, data.Stat.Sent.LastMonth))
					}
				</div>
				<div class="outline-1 outline-pale-gray rounded-sm p-2">
					<!-- Received Requests -->
					if data.Stat.Received.CurrentMonth >= data.Stat.Received.LastMonth {
						@partials.Increasing("Received Requests", data.Stat.Received.CurrentMonth, utils.PercentageIncrease(data.Stat.Received.CurrentMonth, data.Stat.Received.LastMonth))
					} else {
						@partials.Decreasing("Received Requests", data.Stat.Received.CurrentMonth, utils.PercentageDecrease(data.Stat.Received.CurrentMonth, data.Stat.Received.LastMonth))
					}
				</div>
			</div>
			<!-- services -->
			@userServices(data.Services)
		</div>
	}
}

templ userServices(services []*models.ServiceModel) {
	<div class="mt-8">
		<h2 class="mb-2 font-medium">Services</h2>
		<div class="overflow-hidden w-full overflow-x-auto rounded-sm outline-1 outline-gray-300">
			<table class="w-full text-left text-sm">
				<thead class="text-white text-sm font-semibold bg-primary-greener">
					<tr>
						<th scope="col" class="p-4">Title</th>
						<th scope="col" class="p-4">Added on</th>
						<th scope="col" class="p-4">Tags</th>
						<th scope="col" class="p-4">Action</th>
					</tr>
				</thead>
				<tbody class="divide-y divide-gray-300">
					if len(services) < 1 {
						<tr class="">
							<td class="px-6 py-4 text-neutral-dark" align="center" colspan="5" id="emptyTable">Empty</td>
						</tr>
					} else {
						for _, service := range services {
							<tr class="relative outline-1 outline-pale-gray text-neutral-dark">
								<td class="px-6 py-4">{ service.Title }</td>
								<td class="px-6 py-4">added on { utils.FormatDate(service.CreatedAt) }</td>
								<td class="px-6 py-4">
									{ strings.Join(service.TagsAsString, ", ") }
								</td>
								<td class="px-6 py-4">
									<button class="hover:bg-pale-gray cursor-pointer rounded-sm">
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
											<path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"></path>
										</svg>
									</button>
								</td>
							</tr>
						}
					}
				</tbody>
			</table>
		</div>
	</div>
}
