package pages

import (
	"fmt"
	"nearbyassist/internal/models"
	"nearbyassist/internal/utils"
	"nearbyassist/views/layout"
	"nearbyassist/views/partials"
)

templ ViewUserAccount(data models.UserAccountPageData) {
	@layout.Layout() {
		<!-- back button -->
		<div class="mb-4">
			<button
				class="p-2 rounded-sm bg-blue-400 text-sm hover:bg-blue-500 cursor-pointer"
				onClick="history.back()"
			>
				back
			</button>
		</div>
		<!-- main content -->
		<div class="max-w-4xl mx-auto">
			<!-- user profile -->
			<div class="flex justify-between">
				<div class="flex gap-4">
					<div class="outline-1 outline-gray-300">
						<img
							src={ data.ProfileURL }
							alt="profile"
							class="w-40 h-40 aspect-square"
						/>
					</div>
					<div>
						<h1 class="text-xl font-bold">{ data.Name }</h1>
						<h2>{ data.Email }</h2>
						<p><strong>User ID:</strong> { data.Id }</p>
						<p><strong>User Since:</strong> { data.CreatedAt }</p>
						<div class="mt-3">
							<h3>Expertise</h3>
							<div class="mt-2 flex gap-2">
								for _, expertise := range data.Expertise {
									@expertiseChip(expertise)
								}
							</div>
						</div>
					</div>
				</div>
				<div>
					if data.Banned {
						@partials.BanUserModal("Unban user", fmt.Sprintf("/admin/account-management/unban/%s", data.Id), data.Banned)
					} else {
						@partials.BanUserModal("Ban user", fmt.Sprintf("/admin/account-management/ban/%s", data.Id), data.Banned)
					}
				</div>
			</div>
			<!-- stats -->
			<div class="mt-8 grid grid-cols-4 gap-4">
				<div class="outline-1 outline-gray-300 rounded-sm p-2">
					<!-- Sent Requests -->
					if data.Stat.Sent.CurrentMonth >= data.Stat.Sent.LastMonth {
						@partials.Increasing("Sent Requests", data.Stat.Sent.CurrentMonth, utils.PercentageIncrease(data.Stat.Sent.CurrentMonth, data.Stat.Sent.LastMonth))
					} else {
						@partials.Decreasing("Sent Requests", data.Stat.Sent.CurrentMonth, utils.PercentageDecrease(data.Stat.Sent.CurrentMonth, data.Stat.Sent.LastMonth))
					}
				</div>
				<div class="outline-1 outline-gray-300 rounded-sm p-2">
					<!-- Received Requests -->
					if data.Stat.Received.CurrentMonth >= data.Stat.Received.LastMonth {
						@partials.Increasing("Received Requests", data.Stat.Received.CurrentMonth, utils.PercentageIncrease(data.Stat.Received.CurrentMonth, data.Stat.Received.LastMonth))
					} else {
						@partials.Decreasing("Received Requests", data.Stat.Received.CurrentMonth, utils.PercentageDecrease(data.Stat.Received.CurrentMonth, data.Stat.Received.LastMonth))
					}
				</div>
			</div>
			<!-- services -->
			<div class="mt-8">
				<h2 class="mb-2 font-medium">Services</h2>
				<table class="w-full outline-1 outline-gray-300 rounded-lg table-auto">
					<thead>
						<tr class="bg-primary-greener outline-1 outline-gray-300">
							<th class="px-4 py-3 text-left font-medium text-white">Title</th>
							<th class="px-4 py-3 text-left font-medium text-white">Added on</th>
							<th class="px-4 py-3 text-left font-medium text-white">Tags</th>
							<th class="px-4 py-3 text-left font-medium text-white">Action</th>
						</tr>
					</thead>
					<tbody>
						for _, service := range data.Services {
							<tr class="outline-1 outline-gray-300">
								<td class="px-6 py-4">{ service.Title }</td>
								<td class="px-6 py-4">added on { utils.FormatDate(service.CreatedAt) }</td>
								<td class="px-6 py-4">
									for _, tag := range service.TagsAsString {
										<span>{ tag }</span>
									}
								</td>
								<td class="px-6 py-4">
									<button class="hover:bg-gray-300 cursor-pointer rounded-sm">
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
											<path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"></path>
										</svg>
									</button>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	}
}

templ expertiseChip(text string) {
	<p class="p-2 text-xs text-white rounded-full bg-green-800">{ text } </p>
}
