package pages

import (
	"fmt"
	"nearbyassist/internal/dto"
	"nearbyassist/internal/models"
	"nearbyassist/internal/utils"
	"nearbyassist/views/layout"
	"nearbyassist/views/partials"
)

templ UserAccount(user models.AdminModel, data dto.UserAccountDetail, flash string) {
	@layout.Layout(user) {
		<!-- toasy component -->
		@templ.JSONScript("flash", flash)
		@partials.ToastNotification()
		<!-- main content -->
		<div class="mx-auto max-w-4xl">
			<div class="flex items-center justify-between">
				<!-- back button -->
				@partials.BackButton(partials.BackButtonProps{URL: "/admin/user-management/users"})
				@actions(data.User)
			</div>
			<!-- Tabbed -->
			<div x-data="tabs" class="w-full">
				<!-- tab buttons button -->
				<div
					x-on:keydown.right.prevent="$focus.wrap().next()"
					x-on:keydown.left.prevent="$focus.wrap().previous()"
					class="flex gap-2 overflow-x-auto border-b border-success"
					role="tablist"
					aria-label="tab options"
				>
					<!-- profile button -->
					<button
						x-on:click="changeTab('profile')"
						x-bind:aria-selected="selectedTab === 'profile'"
						x-bind:tabindex="selectedTab === 'profile' ? '0' : '-1'"
						x-bind:class="selectedTab === 'profile' ? 'font-bold text-primary border-b-2 border-primary' : 'text-neutral-gray hover:border-b-2 hover:border-b-primary hover:text-neutral-dark'"
						class="h-min px-4 py-2 text-sm"
						type="button"
						role="tab"
						aria-controls="tabpanelProfile"
					>Profile</button>
					<!-- active bookings button -->
					<button
						x-on:click="changeTab('activeBookings')"
						x-bind:aria-selected="selectedTab === 'activeBookings'"
						x-bind:tabindex="selectedTab === 'activeBookings' ? '0' : '-1'"
						x-bind:class="selectedTab === 'activeBookings' ? 'font-bold text-primary border-b-2 border-primary' : 'text-neutral-gray hover:border-b-2 hover:border-b-primary hover:text-neutral-dark'"
						class="h-min px-4 py-2 text-sm"
						type="button"
						role="tab"
						aria-controls="tabpanelActiveBookings"
					>Active Bookings</button>
					<!-- previous bookings button -->
					<button
						x-on:click="changeTab('previousBookings')"
						x-bind:aria-selected="selectedTab === 'previousBookings'"
						x-bind:tabindex="selectedTab === 'previousBookings' ? '0' : '-1'"
						x-bind:class="selectedTab === 'previousBookings' ? 'font-bold text-primary border-b-2 border-primary' : 'text-neutral-gray hover:border-b-2 hover:border-b-primary hover:text-neutral-dark'"
						class="h-min px-4 py-2 text-sm"
						type="button"
						role="tab"
						aria-controls="tabpanelPreviousBookings"
					>Previous Bookings</button>
				</div>
				<!-- tab contents button -->
				<div class="px-2 py-4 text-neutral-dark dark:text-neutral-dark">
					<!-- profile content -->
					<div x-cloak x-show="selectedTab === 'profile'" id="tabpanelProfile" role="tabpanel" aria-label="profile">
						@profile(data)
					</div>
					<!-- active bookings content -->
					<div x-cloak x-show="selectedTab === 'activeBookings'" id="tabpanelActiveBookings" role="tabpanel" aria-label="activeBookings">
						@activeBookings(data)
					</div>
					<!-- previous bookings content -->
					<div x-cloak x-show="selectedTab === 'previousBookings'" id="tabpanelPreviousBookings" role="tabpanel" aria-label="previousBookings">
						@previousBookings(data)
					</div>
				</div>
				<script>
                    (function() {
                        document.addEventListener("alpine:init", () => {
                            Alpine.data("tabs", () => ({
                                selectedTab: 'profile',
                                init() {
                                    const params = new URLSearchParams(window.location.search);
                                    const tabParam = params.get('tab');
                                    if (tabParam) this.selectedTab = tabParam;
                                },
                                changeTab(tab) {
                                    this.selectedTab = tab;
                                    const params = new URLSearchParams(window.location.search);
                                    params.set('tab', tab);
                                    const newURL = `${window.location.pathname}?${params.toString()}`;
                                    history.replaceState({}, '', newURL);
                                },
                            }));
                        });
                     })();
                </script>
			</div>
		</div>
	}
}

templ profile(data dto.UserAccountDetail) {
	<div class="flex gap-4">
		<img
			src={ data.User.ImageURL }
			alt="profile"
			class="aspect-square h-48 w-48 outline-1 outline-pale-gray"
		/>
		<div class="">
			<!-- name & email -->
			<div>
				<span class="text-xl font-medium text-neutral-dark">{ data.User.Name }</span>
				<p class="text-neutral-gray">{ data.User.Email }</p>
				<p class="text-neutral-gray">{ data.User.Phone }</p>
			</div>
			<!-- id & created at -->
			<div class="mt-2">
				<div class="mt-1.5 flex gap-2">
					<span class="font-medium text-neutral-dark">User ID: </span>
					<p class="text-neutral-gray">{ data.User.Id }</p>
				</div>
				<div class="mt-1.5 flex gap-2">
					<span class="font-medium text-neutral-dark">Account Created: </span>
					<p class="text-neutral-gray">{ data.User.CreatedAt }</p>
				</div>
				<div class="mt-1.5 flex gap-2">
					<span class="font-medium text-neutral-dark">Date Verified: </span>
					<p class="text-neutral-gray">{ data.User.DateVerified } </p>
				</div>
				if data.User.IsBanned {
					<div class="mt-2 flex gap-2">
						@partials.DefaultBadgeDanger("banned")
					</div>
				} else if data.User.IsRestricted {
					<div class="mt-2 flex gap-2">
						@partials.DefaultBadgeWarning("suspended")
					</div>
				} else if data.User.DateVerified == "" {
					<div class="mt-2 flex gap-2">
						@partials.DefaultBadgeWarning("unverified")
					</div>
				}
			</div>
		</div>
	</div>
	<!-- Identification -->
	<div class="mt-4">
		<h2 class="text-xl font-medium text-neutral-dark">Identification</h2>
		@partials.Divider()
		if data.User.HasSubmittedIdentification {
			<div class="mt-2 flex items-center gap-2 text-sm">
				<span class="font-medium text-neutral-dark">ID Type:</span>
				<p>{ data.User.Identification.Type }</p>
			</div>
			<div class="mt-2 flex items-center gap-2 text-sm">
				<span class="font-medium text-neutral-dark">ID:</span>
				<p>{ data.User.Identification.IdNumber }</p>
			</div>
			<div class="mt-4 flex max-h-44 gap-2">
				@partials.ImageViewer("ID Front", fmt.Sprintf("/api/v1/resource/%s", data.User.Identification.FrontImageURL))
				@partials.ImageViewer("ID Back", fmt.Sprintf("/api/v1/resource/%s", data.User.Identification.BackImageURL))
			</div>
		} else {
			<div class="mt-2 grid place-content-center">
				<p class="my-4 text-xs text-neutral-dark">Not yet submitted</p>
			</div>
		}
	</div>
	<!-- Socials -->
	<div class="mt-4">
		<span class="text-xl font-medium text-neutral-dark">Socials:</span>
		@partials.Divider()
		<div class="mt-1.5">
			<table class="w-full border-collapse text-xs">
				for _, social := range data.User.Socials {
					<tr class="cursor-pointer hover:bg-neutral-gray/10">
						<td class="p-2">{ social.Site }</td>
						<td class="p-2">
							<a
								href={ templ.URL(social.URL) }
								target="_blank"
								class="flex w-min cursor-pointer gap-2 rounded-sm bg-warning-light/25 px-2 py-1.5 whitespace-nowrap text-warning outline-1 outline-warning hover:opacity-75"
							>
								<p>open</p>
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
									<path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"></path>
								</svg>
							</a>
						</td>
					</tr>
				}
			</table>
		</div>
	</div>
}

templ activeBookings(data dto.UserAccountDetail) {
	<div>
		<table class="w-full table-fixed border-collapse text-left text-xs">
			<tbody class="divide-y divide-neutral-gray-lighter">
				for _, booking := range  data.ActiveBookings {
					<tr class="">
						<td class="p-2">
							<a href={ templ.URL(fmt.Sprintf("/admin/user-management/vendors/%s", booking.Vendor.Id)) }>
								<div class="flex w-max items-center gap-2">
									<img
										class="size-8 rounded-full object-cover"
										src={ booking.Vendor.ImageURL }
										alt="user avatar"
									/>
									<div class="flex flex-col">
										<span class="font-medium text-neutral-900">{ booking.Vendor.Name }</span>
										<span class="text-neutral-600 opacity-85">{ booking.Vendor.Email }</span>
									</div>
								</div>
							</a>
						</td>
						<td class="p-2">
							<span class="font-medium text-neutral-dark">Booked on:</span>
							<p class="text-neutral-gray">{ booking.CreatedAt }</p>
						</td>
						<td class="p-2">
							<span class="font-medium text-neutral-dark">Scheduled on:</span>
							<p class="text-neutral-gray">{ booking.ScheduledAt }</p>
						</td>
						<td class="p-2">
							@partials.OffCanvas(booking.Id) {
								@offCanvasBookingData(booking)
							}
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}

templ previousBookings(data dto.UserAccountDetail) {
	<div>
		<table class="w-full table-fixed border-collapse text-left text-xs">
			<tbody class="divide-y divide-neutral-gray-lighter">
				for _, booking := range  data.History {
					<tr class="">
						<td class="p-2">
							<a href={ templ.URL(fmt.Sprintf("/admin/user-management/vendors/%s", booking.Vendor.Id)) }>
								<div class="flex w-max items-center gap-2">
									<img
										class="size-8 rounded-full object-cover"
										src={ booking.Vendor.ImageURL }
										alt="user avatar"
									/>
									<div class="flex flex-col">
										<span class="font-medium text-neutral-900">{ booking.Vendor.Name }</span>
										<span class="text-neutral-600 opacity-85">{ booking.Vendor.Email }</span>
									</div>
								</div>
							</a>
						</td>
						<td class="p-2">
							if booking.Status == "done" {
								@partials.DefaultBadgeSuccess("completed")
							} else if booking.Status == "rejected" {
								@partials.DefaultBadgeDanger("rejected")
							} else if booking.Status == "cancelled" {
								@partials.DefaultBadgeDanger("cancelled")
							}
						</td>
						<td class="p-2">
							<span class="font-medium text-neutral-dark">Handled on:</span>
							<p class="text-neutral-gray">{ booking.UpdatedAt }</p>
						</td>
						<td class="p-2">
							@partials.OffCanvas(booking.Id) {
								@offCanvasBookingData(booking)
							}
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}

templ offCanvasBookingData(booking dto.Booking) {
	<div class="">
		<h1 class="text-xl font-medium">Booking</h1>
		@partials.Divider()
		<div class="mt-2 flex gap-2">
			<span class="font-medium text-neutral-dark">ID:</span>
			<p class="text-neutral-gray">{ booking.Id }</p>
		</div>
		<div class="mt-2 flex gap-2">
			<span class="font-medium text-neutral-dark">Total:</span>
			<p class="text-neutral-gray">₱ { utils.FloatToString(booking.Cost) }</p>
		</div>
		<div class="mt-2 flex items-center gap-2">
			<span class="font-medium text-neutral-dark">Status:</span>
			@partials.BookingStatus(booking.Status)
		</div>
		if booking.Status != "done" {
			<div class="mt-2 flex gap-2">
				if booking.Status == "cancelled" {
					<span class="font-medium text-neutral-dark">Cancel Reason:</span>
				} else if booking.Status == "rejected" {
					<span class="font-medium text-neutral-dark">Reject Reason:</span>
				}
				<p class="text-neutral-gray">{ booking.CancelReason }</p>
			</div>
		}
		<div class="mt-2 flex gap-2">
			<span class="font-medium text-neutral-dark">Date Booked:</span>
			<p class="text-neutral-gray">{ booking.CreatedAt }</p>
		</div>
		<div class="mt-2 flex gap-2">
			<span class="font-medium text-neutral-dark">Date Scheduled:</span>
			<p class="text-neutral-gray">{ booking.ScheduledAt }</p>
		</div>
		<div class="mt-2 flex gap-2">
			if booking.Status == "cancelled" {
				<span class="font-medium text-neutral-dark">Date Cancelled:</span>
			} else if booking.Status == "rejected" {
				<span class="font-medium text-neutral-dark">Date Rejected:</span>
			} else if booking.Status == "confirmed" {
				<span class="font-medium text-neutral-dark">Date Confirmed:</span>
			} else if booking.Status == "done" {
				<span class="font-medium text-neutral-dark">Date Completed:</span>
			}
			<p class="text-neutral-gray">{ booking.UpdatedAt }</p>
		</div>
	</div>
	<!-- Service -->
	<div class="mt-4">
		<h1 class="text-xl font-medium">Service</h1>
		@partials.Divider()
		<div class="mt-2">
			<span class="font-medium text-neutral-dark">Title:</span>
			<p class="text-neutral-gray">{ booking.Service.Title }</p>
		</div>
		<div class="mt-2">
			<span class="font-medium text-neutral-dark">Description:</span>
			<p class="text-neutral-gray">{ booking.Service.Description }</p>
		</div>
		<div class="mt-2">
			<span class="font-medium text-neutral-dark">Tags:</span>
			<div class="mt-1.5 flex gap-2">
				for _, tag := range booking.Service.Tags {
					@partials.DefaultBadgeSuccess(tag)
				}
			</div>
		</div>
		<div class="mt-2 flex gap-2">
			<span class="font-medium text-neutral-dark">Rate:</span>
			<p class="text-neutral-gray">{ utils.FormatCurrency(booking.Service.Rate) }</p>
		</div>
		<div class="mt-2 flex gap-2">
			<span class="font-medium text-neutral-dark">Created At:</span>
			<p class="text-neutral-gray">{ booking.Service.CreatedAt }</p>
		</div>
		<div class="mt-2 flex gap-2">
			<span class="font-medium text-neutral-dark">Last Modified:</span>
			<p class="text-neutral-gray">{ booking.Service.UpdatedAt }</p>
		</div>
	</div>
	<!-- Extras -->
	<div class="mt-4">
		<h1 class="text-xl font-medium">Included Add-ons</h1>
		@partials.Divider()
		<div>
			for _, extra := range booking.Extras {
				@partials.Collapsable(partials.CollapsableProps{
					Title:    extra.Title,
					EndText:  utils.FormatCurrency(extra.Price),
					Content:  extra.Description,
					Expanded: true,
				})
			}
		</div>
	</div>
}
