package pages

import (
	"fmt"
	"nearbyassist/internal/dto"
	"nearbyassist/internal/models"
	"nearbyassist/views/layout"
	"nearbyassist/views/partials"
)

templ UserList(user models.AdminModel, accounts []dto.User) {
	@layout.Layout(user) {
		@partials.PageBanner("User List", "")
		<!-- searchbar -->
		<div class="flex justify-end py-2">
			<div
				class="relative flex w-full max-w-xs flex-col gap-1 text-neutral-gray"
			>
				<form
					action="/admin/user-management/users"
					method="GET"
				>
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" class="absolute top-1/2 left-2.5 size-5 -translate-y-1/2">
						<path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"></path>
					</svg>
					<input
						type="search"
						name="query"
						placeholder="Search email"
						autocomplete="off"
						aria-label="search"
						id="searchInput"
						class="w-full rounded-sm border border-neutral-gray-lighter py-2 pr-2 pl-10 text-sm focus:border-primary focus:outline-none"
					/>
					<script>
                        const searchInput = document.getElementById("searchInput");
                        const params = new URLSearchParams(location.search);
                        if (params.has("query")) {
                            searchInput.value = params.get("query");
                        }
                    </script>
				</form>
			</div>
		</div>
		@userTable(accounts)
		@partials.Pagination()
	}
}

templ userTable(accounts []dto.User) {
	<div class="w-full overflow-hidden overflow-x-auto rounded-sm outline-1 outline-gray-300">
		<table class="w-full text-left text-sm">
			<thead class="bg-primary-greener text-sm font-semibold text-white">
				<tr>
					<th scope="col" class="p-4">User</th>
					<th scope="col" class="p-4">Member Since</th>
					<th scope="col" class="p-4">Date Verified</th>
					<th scope="col" class="p-4">Status</th>
					<th scope="col" class="p-4">Action</th>
				</tr>
			</thead>
			<tbody class="divide-y divide-gray-300">
				if len(accounts) < 1 {
					<tr class="">
						<td class="px-6 py-4 text-neutral-dark" align="center" colspan="5" id="emptyTable">Empty</td>
					</tr>
				} else {
					for _, account := range accounts {
						<tr class="text-xs">
							<td class="p-4">
								<div class="flex w-max items-center gap-2">
									<img
										class="size-8 rounded-full object-cover"
										src={ account.ImageURL }
										alt="user avatar"
									/>
									<div class="flex flex-col">
										<span class="font-medium text-neutral-900">{ account.Name }</span>
										<span class="text-neutral-600 opacity-85">{ account.Email }</span>
									</div>
								</div>
							</td>
							<td class="p-4">{ account.CreatedAt }</td>
							<td class="p-4">{ account.DateVerified } </td>
							<td class="p-4">
								if account.IsBanned {
									@partials.SoftBadgeDanger("Banned")
								} else if account.IsRestricted {
									@partials.SoftBadgeWarning("Suspended")
								} else if account.DateVerified == "" {
									@partials.SoftBadgeWarning("Unverified")
								} else {
									@partials.SoftBadgeSuccess("Verified")
								}
							</td>
							<td class="p-4">
								<ul>
									<a
										href={ templ.SafeURL(fmt.Sprintf("/admin/user-management/users/%s", account.Id)) }
										class="w-min rounded-sm bg-warning-light/25 p-1 font-semibold text-warning outline-1 outline-warning hover:opacity-75"
									>
										view profile
									</a>
								</ul>
							</td>
						</tr>
					}
				}
			</tbody>
		</table>
	</div>
}
