package pages

import "nearbyassist/views/layout"

templ AccountDeletionInstructions() {
	@layout.NoLayout() {
		<div class="max-w-4xl mx-auto py-10 px-4 sm:px-6 lg:px-8">
			<header class="text-center mb-8">
				<h1 class="text-3xl font-bold text-gray-900">Account Deletion Instructions</h1>
				<p class="text-gray-600 mt-2">Updated At: <span>November 21, 2024</span></p>
			</header>
			<section class="bg-white shadow-md rounded-lg p-6">
				// Step 1
				<h2 class="text-2xl font-semibold mb-4 mt-6">1. Go to <strong>Settings</strong></h2>
				<p>You can find the settings in <strong>account section -> account settings -> settings</strong></p>
				<div class="flex gap-4">
					<img
						class="outline outline-1"
						src="/public/account_deletion3.png"
						alt="app screenshot"
					/>
					<img
						class="outline outline-1"
						src="/public/account_deletion2.png"
						alt="app screenshot"
					/>
				</div>
				// Step 2
				<h2 class="text-2xl font-semibold mb-4 mt-6">2. Select <strong>Delete Account</strong></h2>
				<p>
					This option can be found at the bottom of the page highlighted <strong class="text-red-500">red</strong>.
					This action is not reversible, so <strong>read carefully</strong>. If sure, tap on <strong>continue</strong>.
				</p>
				<img
					class="outline outline-1"
					src="/public/account_deletion1.png"
					alt="app screenshot"
				/>
			</section>
		</div>
	}
}
