package pages

import (
	"nearbyassist/views/layout"
	"nearbyassist/views/partials"
)

templ ChangePassword(flash string) {
	@layout.BasicLayout() {
		@templ.JSONScript("flash", flash)
		@partials.ToastNotification()
		<div class="fixed left-0 right-0 h-full grid place-items-center">
			<form
				action="/admin/reset/cp"
				method="POST"
				class="max-w-xl rounded-sm p-4 outline-1 outline-neutral-gray-lighter bg-white grid gap-4 shadow-2xl"
			>
				<div class="text-center">
					<h2 class="font-medium text-neutral-dark">Update Password</h2>
					<p class="text-xs text-neutral-gray font-semibold p-2 rounded-sm bg-neutral-gray/25 mt-1.5">You are required to change your password after a password reset.</p>
				</div>
				<div>
					<label
						for="username"
						class="text-xs font-medium"
					>Username</label>
					<input
						type="text"
						name="username"
						id="username"
						placeholder="username"
						autocomplete="off"
						autofocus
						class="text-xs mt-1.5 w-full rounded-md border border-neutral-gray-lighter px-4 py-2 focus:border-primary focus:outline-none"
					/>
				</div>
				<div>
					<label
						for="oldPassword"
						class="text-xs font-medium"
					>Old Password</label>
					<input
						type="password"
						name="oldPassword"
						id="oldPassword"
						placeholder="old password"
						autocomplete="off"
						class="text-xs mt-1.5 w-full rounded-md border border-neutral-gray-lighter px-4 py-2 focus:border-primary focus:outline-none"
					/>
				</div>
				<div>
					<label
						for="password"
						class="text-xs font-medium"
					>New Password</label>
					<!-- Information -->
					<div class="px-1 py-2 rounded-sm bg-good/25 flex gap-2 text-neutral-gray text-xs mt-1">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
							<path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z"></path>
						</svg>
						<p class="">
							Password must be 
							<span class="font-bold">
								at least 8 characters long, at least 1 uppercase, at least 1 lowercase, at least 1 special character,
								and no whitespace
							</span>
						</p>
					</div>
					<input
						type="password"
						name="password"
						id="password"
						placeholder="new password"
						autocomplete="off"
						class="text-xs mt-1.5 w-full rounded-md border border-neutral-gray-lighter px-4 py-2 focus:border-primary focus:outline-none"
					/>
				</div>
				<div>
					<label
						for="confirmationPassword"
						class="text-xs font-medium"
					>Confirm Password</label>
					<input
						type="password"
						name="confirmationPassword"
						id="confirmationPassword"
						placeholder="confirm password"
						autocomplete="off"
						class="text-xs mt-1.5 w-full rounded-md border border-neutral-gray-lighter px-4 py-2 focus:border-primary focus:outline-none"
					/>
				</div>
				<div class="flex justify-end gap-2 mt-4">
					<a
						href="/"
						role="button"
						class="rounded-sm px-2 py-1.5 text-neutral-gray text-xs font-medium bg-neutral-gray/50 cursor-pointer hover:opacity-75"
					>Cancel</a>
					<button
						type="submit"
						class="rounded-sm px-2 py-1.5 text-white text-xs font-medium bg-primary cursor-pointer hover:opacity-75"
					>Continue</button>
				</div>
			</form>
		</div>
	}
}
