package pages

import "nearbyassist/views/partials"

templ Dashboard() {
	@partials.Head()
	<div class="grid h-screen grid-cols-[16rem_1fr] text-sm">
		@partials.Sidebar()
		<main class="overflow-scroll mb-8">
			@partials.Header()
			<div class="flex-1 p-4">
				@partials.PageBanner("dashboard", "Monitor your activities")
				@dashboardData()
			</div>
		</main>
	</div>
}

templ dashboardData() {
	<section class="grid grid-cols-1 gap-4 md:grid-cols-3">
		<div class="rounded-md border p-4 shadow-md outline outline-1">
			<h2 class="mb-2 text-lg font-semibold">
				Number of Users:
			</h2>
			<p class="text-3xl font-bold text-blue-400">
				0
			</p>
		</div>
		<div class="rounded-md border p-4 shadow-md outline outline-1">
			<h2 class="mb-2 text-lg font-semibold">
				Verified Users
			</h2>
			<p class="text-3xl font-bold text-yellow-400">
				0
			</p>
		</div>
		<div class="rounded-md border p-4 shadow-md outline outline-1">
			<h2 class="mb-2 text-lg font-semibold">
				Number of Complaints
			</h2>
			<p class="text-3xl font-bold text-red-400">
				0
			</p>
		</div>
		<div class="rounded-md border p-4 shadow-md outline outline-1">
			<h2 class="mb-2 text-lg font-semibold">
				Service Vendors
			</h2>
			<p class="text-3xl font-bold text-green-400">
				0
			</p>
		</div>
		<div class="rounded-md border p-4 shadow-md outline outline-1">
			<h2 class="mb-2 text-lg font-semibold">
				Pending Applications
			</h2>
			<p class="text-3xl font-bold text-orange-400">
				0
			</p>
		</div>
	</section>
}
