package pages

import "nearbyassist/views/layout"

templ Login() {
	@layout.NoLayout() {
		<div class="bg-gray-200 flex min-h-screen items-center justify-center">
			<div class="w-full max-w-sm rounded-md bg-white p-8 shadow-2xl has-outline outline-gray-300">
				<h2 class="mb-4 text-2xl font-semibold text-center">
					Welcome back
				</h2>
				<form
					action="/admin/login"
					method="POST"
					class="flex flex-col items-center"
				>
					<div class="mb-4 w-full">
						<input
							type="text"
							id="username"
							name="username"
							placeholder="Username"
							class="mt-1 w-full rounded-md border border-gray-400 px-4 py-2 focus:border-blue focus:outline-none focus:ring-blue"
							autoComplete="off"
							autofocus
							required
						/>
					</div>
					<div class="mb-6 w-full">
						<input
							type="password"
							id="password"
							name="password"
							placeholder="Password"
							class="mt-1 w-full rounded-md border border-gray-400 px-4 py-2 focus:border-blue focus:outline-none focus:ring-blue"
							autoComplete="off"
							required
						/>
					</div>
					<button
						type="submit"
						class="w-full rounded-md bg-blue-500 px-4 py-2 font-semibold text-white hover:bg-blue-lightblue focus:outline-none focus:ring-2 focus:ring-blue-lightblue focus:ring-offset-2 hover:bg-blue-600"
					>
						Login
					</button>
					<a href="/" class="pt-4 text-xs text-blue hover:underline">Home</a>
				</form>
			</div>
		</div>
	}
}
