package settings

import (
	"fmt"
	"nearbyassist/internal/models"
	"nearbyassist/internal/service/suggestion_engine"
	"nearbyassist/views/layout"
	"nearbyassist/views/partials"
)

templ Settings(admin models.AdminModel, flash string, searchBehavior string, weights suggestion_engine.Weights) {
	@layout.Layout(admin) {
		<!-- toast -->
		@templ.JSONScript("flash", flash)
		@partials.ToastNotification()
		<!-- banner -->
		@partials.PageBanner("Settings", "")
		<!-- main content -->
		<div class="mx-auto max-w-3xl">
			@settingItem(settingItemProps{
				Title:       "Server Sent Events (SSE) data reset",
				ButtonLabel: "Reset",
				ActionURL:   "/admin/settings/resetSSE",
			})
			@settingItem(settingItemProps{
				Title:       "Send reminder for bookings scheduled tomorrow",
				ButtonLabel: "Notify",
				ActionURL:   "/admin/settings/remind",
			})
			<!-- search behavior -->
			<div class="flex items-center justify-between border-b border-pale-gray p-2">
				<p class="text-xs font-medium text-neutral-dark">Search behavior</p>
				<form class="flex items-center gap-2" action="/admin/settings/searchBehavior" method="POST">
					<input
						list="search_behaviors"
						name="behavior"
						value={ searchBehavior }
						required
						autocomplete="off"
						class="rounded-sm p-1 text-xs outline-1 outline-pale-gray focus:outline-primary"
					/>
					<datalist id="search_behaviors">
						<option value="exact_match"></option>
						<option value="fuzzy_match"></option>
					</datalist>
					<button
						type="submit"
						class="cursor-pointer rounded-sm bg-primary px-2 py-1.5 text-xs font-medium text-white hover:opacity-75"
					>save</button>
				</form>
			</div>
			<!-- weights configuration -->
			<div class="border-b border-pale-gray p-2">
				<p class="font-medium text-neutral-dark">Weights Configuration:</p>
				<div
					class="mt-2 text-neutral-dark"
					x-data="weights"
					x-init="init()"
				>
					<form
						action="/admin/settings/weights"
						method="POST"
						class="grid max-w-sm gap-2 p-2"
					>
						<div class="flex items-center justify-between gap-2">
							<label for="price" class="font-medium">Price:</label>
							<input
								type="number"
								id="price"
								name="price"
								placeholder="0.4"
								value={ fmt.Sprintf("%.3f", weights.PriceWeight) }
								class="rounded-sm p-1.5 outline-1 outline-neutral-gray focus:outline-primary"
								min="0"
								max="1"
								step="0.01"
							/>
						</div>
						<div class="flex items-center justify-between gap-2">
							<label for="rating" class="font-medium">Rating:</label>
							<input
								type="number"
								id="rating"
								name="rating"
								placeholder="0.3"
								value={ fmt.Sprintf("%.3f", weights.RatingWeight) }
								class="rounded-sm p-1.5 outline-1 outline-neutral-gray focus:outline-primary"
								min="0"
								max="1"
								step="0.01"
							/>
						</div>
						<div class="flex items-center justify-between gap-2">
							<label for="distance" class="font-medium">Distance:</label>
							<input
								type="number"
								id="distance"
								name="distance"
								placeholder="0.2"
								value={ fmt.Sprintf("%.3f", weights.DistanceWeight) }
								class="rounded-sm p-1.5 outline-1 outline-neutral-gray focus:outline-primary"
								min="0"
								max="1"
								step="0.01"
							/>
						</div>
						<div class="flex items-center justify-between gap-2">
							<label for="completedBookings" class="font-medium">Completed Bookings:</label>
							<input
								type="number"
								id="completedBookings"
								name="completedBookings"
								placeholder="0.1"
								value={ fmt.Sprintf("%.3f", weights.BookingsCompletedWeight) }
								class="rounded-sm p-1.5 outline-1 outline-neutral-gray focus:outline-primary"
								min="0"
								max="1"
								step="0.01"
							/>
						</div>
						<div
							x-show="showWarning"
							class="mt-2 rounded-sm bg-danger-light/25 p-2 text-xs text-danger outline-1 outline-danger"
						>
							<p class="font-medium">Sum of values must not exceed 1</p>
						</div>
						<div class="flex justify-end">
							<button
								type="submit"
								x-bind:disabled="disabled"
								x-bind:class="disabled === true ? 'bg-neutral-gray/25' : 'bg-primary text-white font-medium'"
								class="cursor-pointer rounded-sm px-2 py-1.5 font-medium hover:opacity-75"
							>Save</button>
						</div>
						<script>
                            (function() {
                                document.addEventListener("alpine:init", () => {
                                    Alpine.data("weights", () => ({
                                        showWarning: false,
                                        disabled: false,
                                        init() {
                                            const inputs = Array.from(document.querySelectorAll('input[type="number"]'));

                                            const update = () => {
                                                const sum = inputs.reduce((acc, input) => acc + parseFloat(input.value || 0), 0);
                                                const rounded = Math.round(sum * 1000)/1000;

                                                this.showWarning = rounded > 1.0;
                                                this.disabled = rounded !== 1.0;
                                            }

                                            inputs.forEach(input => {
                                                input.addEventListener("input", update);
                                            });

                                            update();
                                        },
                                    }));
                                });
                             })();
                        </script>
					</form>
				</div>
			</div>
		</div>
	}
}
