package settings

import (
	"nearbyassist/internal/models"
	"nearbyassist/views/layout"
	"nearbyassist/views/partials"
)

templ Settings(admin models.AdminModel, flash string) {
	@layout.Layout(admin) {
		<!-- toast -->
		@templ.JSONScript("flash", flash)
		@partials.ToastNotification()
		<!-- banner -->
		@partials.PageBanner("Settings", "")
		<!-- main content -->
		<div class="mx-auto max-w-3xl">
			@settingItem(settingItemProps{
				Title:       "Server Sent Events (SSE) data reset",
				ButtonLabel: "Reset",
				ActionURL:   "/admin/settings/resetSSE",
			})
			@settingItem(settingItemProps{
				Title:       "Send reminder for bookings scheduled tomorrow",
				ButtonLabel: "Notify",
				ActionURL:   "/admin/settings/remind",
			})
		</div>
	}
}

type settingItemProps struct {
	Title       string
	ButtonLabel string
	ActionURL   string
}

templ settingItem(props settingItemProps) {
	<div class="flex justify-between border-b border-pale-gray items-center p-2">
		<p class="text-xs text-neutral-dark font-medium">{ props.Title }</p>
		<a
			href={ templ.URL(props.ActionURL) }
			class="cursor-pointer rounded-sm bg-primary px-2 py-1.5 text-xs text-white hover:opacity-75"
		>{ props.ButtonLabel }</a>
	</div>
}
