package layout

templ head() {
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>NearbyAssist</title>
		<link rel="icon" type="image/x-icon" href="/public/logo.ico"/>
		<link rel="stylesheet" href="/static/style/style.css"/>
		<!-- Alpine Plugins -->
		<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
		<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
		<!-- Alpine Core -->
		<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
		<!-- Plotly -->
		<script src="https://cdn.plot.ly/plotly-3.0.1.min.js" charset="utf-8"></script>
		<!-- MapLibre -->
		<script src="https://unpkg.com/maplibre-gl/dist/maplibre-gl.js"></script>
		<link href="https://unpkg.com/maplibre-gl/dist/maplibre-gl.css" rel="stylesheet"/>
	</head>
}
