package layout

import "nearbyassist/views/partials"

templ Layout() {
	<!DOCTYPE html>
	<html lang="en">
		@head()
		<body class="font-roboto">
			<div class="grid h-screen grid-cols-12 text-sm">
				<div class="col-span-2">
					@partials.Sidebar()
				</div>
				<main class="overflow-scroll col-span-10 px-4 pt-2">
					{ children... }
				</main>
			</div>
		</body>
	</html>
}
