package dashboardcomponent

import "nearbyassist/internal/models"

var loadUserDataChart = templ.NewOnceHandle()

templ UserData(data models.UserData) {
	<card class="relative w-full rounded-sm outline-1 outline-pale-gray hover:shadow-xl hover:outline-primary">
		@templ.JSONScript("userData", data)
		<div class="grid grid-cols-2 gap-2 p-2">
			<a href="/admin/user-management" class="grid">
				@BasicCountIndicator("Total users", data.Total, CLR_BLUE)
			</a>
			@BasicCountIndicator("Experts", data.Expert, CLR_GREEN)
		</div>
		<!-- Chart -->
		<div class="aspect-square p-2">
			<div id="userDataChart"></div>
			@loadUserDataChart.Once() {
				<script src="/static/script/userDataChart.js"></script>
			}
		</div>
	</card>
}
