package pages

import (
	"nearbyassist/views/layout"
	"nearbyassist/views/partials"
	"strconv"
)

type Marker struct {
	Lat float64 `json:"lat"`
	Lon float64 `json:"lon"`
}

type MapPageData struct {
	Markers       []Marker
	Tags          []string
	PreviousQuery string
}

templ Map(data MapPageData) {
	@layout.Layout() {
		<div class="pb-4">
			@partials.PageBanner("Map", "")
			<div class="flex gap-4">
				<div class="">
					@searchBar(data.Tags, data.PreviousQuery)
					<div>
						Result: { strconv.Itoa(len(data.Markers)) }
					</div>
				</div>
				<div class="flex-1">
					@mapComponent(data.Markers)
				</div>
			</div>
		</div>
	}
}

templ searchBar(tags []string, previousQuery string) {
	<div class="flex justify-end my-3">
		<form action="/admin/map" method="POST" class="flex gap-2">
			<input
				type="input"
				name="query"
				list="tags"
				class="p-2 rounded-sm outline outline-1 text-sm"
				placeholder="service"
				autofocus
				onfocus="let temp = this.value; this.value = ''; this.value = temp; // place cursor at end of value"
				value={ previousQuery }
			/>
			<datalist id="tags">
				for _, tag := range tags {
					<option value={ tag }>{ tag }</option>
				}
			</datalist>
			<button
				type="submit"
				class="p-2 rounded-md bg-green-700 hover:bg-green-800 text-sm"
			>Search</button>
		</form>
	</div>
}

var openLayers = templ.NewOnceHandle()

templ mapComponent(markers []Marker) {
	@openLayers.Once() {
		<script src="/static/script/OpenLayers.js"></script>
	}
	<div id="map" class="h-[75vh] outline outline-1"></div>
	@templ.JSONScript("markers", markers)
	<script>
        map = new OpenLayers.Map("map");
        let mapnik = new OpenLayers.Layer.OSM();
        let fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
        let toProjection = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
        let position = new OpenLayers.LonLat(125.80942522476553, 7.447220876004841).transform(fromProjection, toProjection);
        let zoom = 13;

        let markers = new OpenLayers.Layer.Markers("Markers");

        try{
            const markersJson = document.getElementById("markers").textContent;
            const coordinates = JSON.parse(markersJson);

            for (const coordinate of coordinates) {
                const marker = new OpenLayers.LonLat(coordinate.lon, coordinate.lat).transform(fromProjection, toProjection);
                markers.addMarker(new OpenLayers.Marker(marker));
            }
        } catch (e) {
            console.error("Error parsing markers", e);
        }

        map.addLayer(mapnik);
        map.addLayer(markers);
        map.setCenter(position, zoom);

    </script>
}
