package pages

import (
	"nearbyassist/internal/models"
	"nearbyassist/views/layout"
	"nearbyassist/views/partials"
	"strconv"
)

templ Map(data models.MapPageDataModel, flash string) {
	@layout.Layout() {
		@templ.JSONScript("flash", flash)
		@partials.ToastNotification()
		<div class="pb-4">
			@partials.PageBanner("Map", "")
			<div class="flex gap-4">
				<div class="">
					@searchBar(data.Tags)
					<span class="text-sm font-medium text-neutral-dark">
						Result: { strconv.Itoa(len(data.Services)) }
					</span>
				</div>
				<div class="flex-1">
					@partials.MapComponent(data)
				</div>
			</div>
		</div>
	}
}

templ searchBar(tags []string) {
	<div>
		<div class="relative my-3 flex justify-end">
			@templ.JSONScript("tags", tags)
			<form
				action="/admin/map"
				class="flex gap-2"
			>
				<input
					type="input"
					id="searchInput"
					name="query"
					autocomplete="off"
					placeholder="service"
					autofocus
					class="rounded-sm border border-neutral-gray-lighter p-2 text-sm focus:border-primary focus:outline-none"
				/>
				<button
					type="submit"
					class="cursor-pointer rounded-md bg-primary p-2 text-sm text-white hover:opacity-75"
				>Search</button>
				<script>
                    (function() {
                        const searchInput = document.getElementById("searchInput");
                        const params = new URLSearchParams(location.search);
                        if (params.has("query")) {
                            searchInput.value = params.get("query");
                        }
                     })();
                </script>
			</form>
			<div id="resultBox" class="absolute top-full right-0 left-0 bg-white shadow-xl"></div>
		</div>
		<script>
            const tags = JSON.parse(document.getElementById("tags").textContent);
            const inputBox = document.getElementById("searchInput");
            const resultBox = document.getElementById("resultBox");

            inputBox.onkeyup = () => {
                let suggestions = [];
                const input = inputBox.value;

                if (input.length) {
                    suggestions = tags.filter((tag) => {
                        return tag.toLowerCase().includes(input.toLowerCase());
                    });
                }

                displaySuggestions(suggestions);
            }

            function displaySuggestions(suggestions) {
                resultBox.innerHTML = "";

                const contents = suggestions.map((suggestion) => {
                    const classes = [
                        "bg-white",
                        "p-2",
                        "text-neutral-dark",
                        "text-sm",
                        "cursor-pointer",
                        "hover:bg-neutral-200",
                    ];

                    const div = document.createElement("div");
                    div.innerText = suggestion;
                    div.setAttribute("onclick", `selectSuggestion('${suggestion}')`);

                    classes.forEach((classname) => {
                        div.classList.add(classname);
                    });

                    return div;
                });

                const wrapper = document.createElement("div");
                wrapper.classList.add("outline-1");
                wrapper.classList.add("outline-pale-gray");
                wrapper.classList.add("rounded-sm");
                for (const content of contents) {
                    wrapper.appendChild(content);
                }
                resultBox.appendChild(wrapper);
            }

            function selectSuggestion(suggestion) {
                inputBox.value = suggestion;
                resultBox.innerHTML = "";
            }
        </script>
	</div>
}
