package pages

import (
	"fmt"
	"nearbyassist/internal/dto"
	"nearbyassist/internal/models"
	"nearbyassist/internal/utils"
	"nearbyassist/views/layout"
	"nearbyassist/views/partials"
	"strconv"
)

templ VendorAccount(user models.AdminModel, data dto.VendorAccountDetail, flash string) {
	@layout.Layout(user) {
		<!-- toasy component -->
		@templ.JSONScript("flash", flash)
		@partials.ToastNotification()
		<!-- main content -->
		<div class="mx-auto max-w-4xl">
			<div class="flex justify-between items-center">
				<!-- back button -->
				@partials.BackButton(partials.BackButtonProps{URL: "/admin/user-management/vendors"})
				@actions(data.Vendor)
			</div>
			<!-- Tabbed -->
			<div x-data="tabs" class="w-full">
				<!-- tab buttons button -->
				<div
					x-on:keydown.right.prevent="$focus.wrap().next()"
					x-on:keydown.left.prevent="$focus.wrap().previous()"
					class="flex gap-2 overflow-x-auto border-b border-success"
					role="tablist"
					aria-label="tab options"
				>
					<!-- profile button -->
					<button
						x-on:click="changeTab('profile')"
						x-bind:aria-selected="selectedTab === 'profile'"
						x-bind:tabindex="selectedTab === 'profile' ? '0' : '-1'"
						x-bind:class="selectedTab === 'profile' ? 'font-bold text-primary border-b-2 border-primary' : 'text-neutral-gray hover:border-b-2 hover:border-b-primary hover:text-neutral-dark'"
						class="h-min px-4 py-2 text-sm"
						type="button"
						role="tab"
						aria-controls="tabpanelProfile"
					>Profile</button>
					<!-- services button -->
					<button
						x-on:click="changeTab('services')"
						x-bind:aria-selected="selectedTab === 'services'"
						x-bind:tabindex="selectedTab === 'services' ? '0' : '-1'"
						x-bind:class="selectedTab === 'services' ? 'font-bold text-primary border-b-2 border-primary' : 'text-neutral-gray hover:border-b-2 hover:border-b-primary hover:text-neutral-dark'"
						class="h-min px-4 py-2 text-sm"
						type="button"
						role="tab"
						aria-controls="tabpanelServices"
					>Services</button>
					<!-- active bookings button -->
					<button
						x-on:click="changeTab('activeBookings')"
						x-bind:aria-selected="selectedTab === 'activeBookings'"
						x-bind:tabindex="selectedTab === 'activeBookings' ? '0' : '-1'"
						x-bind:class="selectedTab === 'activeBookings' ? 'font-bold text-primary border-b-2 border-primary' : 'text-neutral-gray hover:border-b-2 hover:border-b-primary hover:text-neutral-dark'"
						class="h-min px-4 py-2 text-sm"
						type="button"
						role="tab"
						aria-controls="tabpanelActiveBookings"
					>Active Bookings</button>
					<!-- previous bookings button -->
					<button
						x-on:click="changeTab('previousBookings')"
						x-bind:aria-selected="selectedTab === 'previousBookings'"
						x-bind:tabindex="selectedTab === 'previousBookings' ? '0' : '-1'"
						x-bind:class="selectedTab === 'previousBookings' ? 'font-bold text-primary border-b-2 border-primary' : 'text-neutral-gray hover:border-b-2 hover:border-b-primary hover:text-neutral-dark'"
						class="h-min px-4 py-2 text-sm"
						type="button"
						role="tab"
						aria-controls="tabpanelPreviousBookings"
					>Previous Bookings</button>
				</div>
				<!-- tab contents button -->
				<div class="px-2 py-4 text-neutral-dark dark:text-neutral-dark">
					<!-- profile content -->
					<div x-cloak x-show="selectedTab === 'profile'" id="tabpanelProfile" role="tabpanel" aria-label="profile">
						@profile(data)
					</div>
					<!-- services content -->
					<div x-cloak x-show="selectedTab === 'services'" id="tabpanelServices" role="tabpanel" aria-label="services">
						@services(data)
					</div>
					<!-- active bookings content -->
					<div x-cloak x-show="selectedTab === 'activeBookings'" id="tabpanelActiveBookings" role="tabpanel" aria-label="activeBookings">
						@activeBookings(data)
					</div>
					<!-- previous bookings content -->
					<div x-cloak x-show="selectedTab === 'previousBookings'" id="tabpanelPreviousBookings" role="tabpanel" aria-label="previousBookings">
						@previousBookings(data)
					</div>
				</div>
				<script>
                    (function() {
                        document.addEventListener("alpine:init", () => {
                            Alpine.data("tabs", () => ({
                                selectedTab: 'profile',
                                init() {
                                    const params = new URLSearchParams(window.location.search);
                                    const tabParam = params.get('tab');
                                    if (tabParam) this.selectedTab = tabParam;
                                },
                                changeTab(tab) {
                                    this.selectedTab = tab;
                                    const params = new URLSearchParams(window.location.search);
                                    params.set('tab', tab);
                                    const newURL = `${window.location.pathname}?${params.toString()}`;
                                    history.replaceState({}, '', newURL);
                                },
                            }));
                        });
                     })();
                </script>
			</div>
		</div>
	}
}

templ profile(data dto.VendorAccountDetail) {
	<div class="flex gap-4">
		<img
			src={ data.Vendor.ImageURL }
			alt="profile"
			class="aspect-square h-48 w-48 outline-1 outline-pale-gray"
		/>
		<div class="">
			<!-- name & email -->
			<div>
				<span class="text-xl font-medium text-neutral-dark">{ data.Vendor.Name }</span>
				<p class="text-neutral-gray">{ data.Vendor.Email }</p>
				<p class="text-neutral-gray">{ data.Vendor.Phone }</p>
			</div>
			<!-- id & created at -->
			<div class="mt-2">
				<div class="mt-1.5 flex items-center gap-2">
					<span class="font-medium text-neutral-dark">Rating: </span>
					<span class="flex gap-2 text-warning">
						<p class="font-medium">{ data.Vendor.Rating }</p>
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4">
							<path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd"></path>
						</svg>
					</span>
				</div>
				<div class="mt-1.5 flex gap-2">
					<span class="font-medium text-neutral-dark">User ID: </span>
					<p class="text-neutral-gray">{ data.Vendor.Id }</p>
				</div>
				<div class="mt-1.5 flex gap-2">
					<span class="font-medium text-neutral-dark">User Since: </span>
					<p class="text-neutral-gray">{ data.Vendor.JoinedAt }</p>
				</div>
				<div class="mt-1.5 flex gap-2">
					<span class="font-medium text-neutral-dark">Date Verified: </span>
					<p class="text-neutral-gray">{ data.Vendor.DateVerified } </p>
				</div>
			</div>
		</div>
	</div>
	<!-- Identification -->
	<div class="mt-4">
		<h2 class="text-xl font-medium text-neutral-dark">Identification</h2>
		@partials.Divider()
		<div class="mt-2 flex items-center gap-2 text-sm">
			<span class="font-medium text-neutral-dark">ID Type:</span>
			<p>{ data.Vendor.Identification.Type }</p>
		</div>
		<div class="mt-2 flex items-center gap-2 text-sm">
			<span class="font-medium text-neutral-dark">ID:</span>
			<p>{ data.Vendor.Identification.IdNumber }</p>
		</div>
		<div class="mt-4 flex max-h-44 gap-2">
			@partials.ImageViewer("ID Front", fmt.Sprintf("/api/v1/resource/%s", data.Vendor.Identification.FrontImageURL))
			@partials.ImageViewer("ID Back", fmt.Sprintf("/api/v1/resource/%s", data.Vendor.Identification.BackImageURL))
		</div>
	</div>
	<!-- Socials -->
	<div class="mt-4">
		<span class="text-xl font-medium text-neutral-dark">Socials:</span>
		@partials.Divider()
		<div class="mt-1.5">
			<table class="w-full border-collapse">
				for _, social := range data.Vendor.Socials {
					<tr class="cursor-pointer hover:bg-neutral-gray/10">
						<td class="p-2">{ social.Site }</td>
						<td class="p-2">
							<a
								href={ templ.URL(social.URL) }
								target="_blank"
								class="flex w-min cursor-pointer gap-2 rounded-sm bg-warning-light/25 px-2 py-1.5 whitespace-nowrap text-warning outline-1 outline-warning hover:opacity-75"
							>
								<p>open</p>
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
									<path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"></path>
								</svg>
							</a>
						</td>
					</tr>
				}
			</table>
		</div>
	</div>
	<!-- Expertise -->
	<div class="mt-4">
		<span class="text-xl font-medium text-neutral-dark">Expertise:</span>
		@partials.Divider()
		<table class="w-full border-collapse text-left text-xs">
			<tbody class="divide-y divide-neutral-gray-lighter">
				for _, expertise := range data.Vendor.Expertise {
					<tr>
						<td class="p-2">
							@partials.DefaultBadgeSuccess(expertise.Title)
						</td>
						<td class="p-2">
							<span class="font-medium text-neutral-dark">Date applied:</span>
							<p class="text-neutral-gray">{ expertise.DateApplied }</p>
						</td>
						<td class="p-2">
							<span class="font-medium text-neutral-dark">Date approved:</span>
							<p class="text-neutral-gray">{ expertise.DateApproved }</p>
						</td>
						<td>
							@partials.OffCanvas(expertise.Title) {
								<div class="text-sm">
									<div class="mt-2 flex items-center gap-2">
										<span class="font-medium text-neutral-dark">Title:</span>
										@partials.DefaultBadgeSuccess(expertise.Title)
									</div>
									<div class="mt-2 flex gap-2">
										<span class="font-medium text-neutral-dark">Date Applied:</span>
										<p class="text-neutral-gray">{ expertise.DateApplied }</p>
									</div>
									<div class="mt-2 flex gap-2">
										<span class="font-medium text-neutral-dark">Date Approved:</span>
										<p class="text-neutral-gray">{ expertise.DateApproved }</p>
									</div>
									<div class="mt-2">
										<span class="font-medium text-neutral-dark">Supporting Document:</span>
										<div class="mt-1.5">
											@partials.ImageViewer("Supporting Document", fmt.Sprintf("/api/v1/resource/%s", expertise.SupportingDocument))
										</div>
									</div>
								</div>
							}
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}

templ services(data dto.VendorAccountDetail) {
	<div>
		<table class="w-full border-collapse text-left text-xs">
			<tbody class="divide-y divide-neutral-gray-lighter">
				for _, service := range  data.Services {
					<tr class="">
						<td class="p-2">
							<span class="font-medium text-neutral-dark">{ service.Title }</span>
						</td>
						<td class="p-2">
							switch (service.PricingType) {
								case "fixed":
									<span class="font-medium text-neutral-dark">{ utils.FormatCurrency(service.Price) } (fixed)</span>
								case "per_hour":
									<span class="font-medium text-neutral-dark">{ utils.FormatCurrency(service.Price) } / hour</span>
								case "per_day":
									<span class="font-medium text-neutral-dark">{ utils.FormatCurrency(service.Price) } / day</span>
							}
						</td>
						<td class="p-2">
							<span class="font-medium text-neutral-dark">Added on:</span>
							<p class="text-neutral-gray">{ service.CreatedAt }</p>
						</td>
						<td class="p-2">
							@partials.OffCanvas(service.Id) {
								<!-- Content -->
								<div class="mt-4">
									@carousel(service.Images)
									<div class="mt-2 text-neutral-gray">
										<!-- Detail -->
										<div class="mt-4 grid gap-1">
											<div class="mt-2">
												<span class="font-medium text-neutral-dark">Title:</span>
												<p class="text-neutral-gray">{ service.Title }</p>
											</div>
											<div class="mt-2">
												<span class="font-medium text-neutral-dark">Description:</span>
												<p class="text-neutral-gray">{ service.Description }</p>
											</div>
											<div class="mt-2">
												switch (service.PricingType) {
													case "fixed":
														<span class="font-medium text-neutral-dark">{ utils.FormatCurrency(service.Price) } (fixed)</span>
													case "per_hour":
														<span class="font-medium text-neutral-dark">{ utils.FormatCurrency(service.Price) } / hour</span>
													case "per_day":
														<span class="font-medium text-neutral-dark">{ utils.FormatCurrency(service.Price) } / day</span>
												}
											</div>
										</div>
										<div class="mt-4">
											<!-- Note -->
											<div class="mt-2 flex gap-2 rounded-sm bg-good/25 px-1 py-2 text-xs text-neutral-gray">
												<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
													<path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z"></path>
												</svg>
												<p>You can click on the tag to perform a quick map search </p>
											</div>
											<!-- Tags -->
											<div class="my-2 flex flex-wrap gap-2">
												for _, tag := range service.Tags {
													<a
														href={ templ.SafeURL(fmt.Sprintf("/admin/map?query=%s", tag)) }
														class="mt-2"
													>
														@partials.DefaultBadgeSuccess(tag)
													</a>
												}
											</div>
										</div>
										<!-- Extras -->
										<div class="mt-4">
											<h1 class="text-lg font-medium text-neutral-dark">Add-ons</h1>
											<div>
												for _, extra := range service.Extras {
													@partials.Collapsable(partials.CollapsableProps{
														Title:    extra.Title,
														EndText:  utils.FormatCurrency(extra.Price),
														Content:  extra.Description,
														Expanded: true,
													})
												}
											</div>
										</div>
									</div>
								</div>
							}
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}

templ activeBookings(data dto.VendorAccountDetail) {
	<div>
		<table class="w-full table-fixed border-collapse text-left text-xs">
			<tbody class="divide-y divide-neutral-gray-lighter">
				for _, booking := range  data.ActiveBookings {
					<tr class="">
						<td class="p-2">
							<a href={ templ.URL(fmt.Sprintf("/admin/user-management/users/%s", booking.Client.Id)) }>
								<div class="flex w-max items-center gap-2">
									<img
										class="size-8 rounded-full object-cover"
										src={ booking.Client.ImageURL }
										alt="user avatar"
									/>
									<div class="flex flex-col">
										<span class="font-medium text-neutral-900">{ booking.Client.Name }</span>
										<span class="text-neutral-600 opacity-85">{ booking.Client.Email }</span>
									</div>
								</div>
							</a>
						</td>
						<td class="p-2">
							<span class="font-medium text-neutral-dark">Booked on:</span>
							<p class="text-neutral-gray">{ booking.CreatedAt }</p>
						</td>
						<td class="p-2">
							<span class="font-medium text-neutral-dark">Scheduled on:</span>
							<p class="text-neutral-gray">{ booking.ScheduledAt }</p>
						</td>
						<td class="p-2">
							@partials.OffCanvas(booking.Id) {
								@offCanvasBookingData(booking)
							}
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}

templ previousBookings(data dto.VendorAccountDetail) {
	<div>
		<table class="w-full table-fixed border-collapse text-left text-xs">
			<tbody class="divide-y divide-neutral-gray-lighter">
				for _, booking := range  data.History {
					<tr class="">
						<td class="p-2">
							<a href={ templ.URL(fmt.Sprintf("/admin/user-management/users/%s", booking.Client.Id)) }>
								<div class="flex w-max items-center gap-2">
									<img
										class="size-8 rounded-full object-cover"
										src={ booking.Client.ImageURL }
										alt="user avatar"
									/>
									<div class="flex flex-col">
										<span class="font-medium text-neutral-900">{ booking.Client.Name }</span>
										<span class="text-neutral-600 opacity-85">{ booking.Client.Email }</span>
									</div>
								</div>
							</a>
						</td>
						<td class="p-2">
							if booking.Status == "done" {
								@partials.DefaultBadgeSuccess("completed")
							} else if booking.Status == "rejected" {
								@partials.DefaultBadgeDanger("rejected")
							} else if booking.Status == "cancelled" {
								@partials.DefaultBadgeDanger("cancelled")
							}
						</td>
						<td class="p-2">
							<span class="font-medium text-neutral-dark">Handled on:</span>
							<p class="text-neutral-gray">{ booking.UpdatedAt }</p>
						</td>
						<td class="p-2">
							@partials.OffCanvas(booking.Id) {
								@offCanvasBookingData(booking)
							}
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}

templ offCanvasBookingData(booking dto.Booking) {
	<div class="">
		<h1 class="text-xl font-medium">Booking</h1>
		@partials.Divider()
		<div class="mt-2 flex gap-2">
			<span class="font-medium text-neutral-dark">ID:</span>
			<p class="text-neutral-gray">{ booking.Id }</p>
		</div>
		<div class="mt-2 flex gap-2">
			<span class="font-medium text-neutral-dark">Booked for:</span>
			switch (booking.Service.PricingType) {
				case "fixed":
					<p class="text-neutral-gray">{ strconv.Itoa(booking.Quantity) } (fixed rate session)</p>
				case "per_hour":
					<p class="text-neutral-gray">{ strconv.Itoa(booking.Quantity) } hour/s</p>
				case "per_day":
					<p class="text-neutral-gray">{ strconv.Itoa(booking.Quantity) } day/s</p>
			}
		</div>
		<div class="mt-2 flex gap-2">
			<span class="font-medium text-neutral-dark">Total:</span>
			switch (booking.Service.PricingType) {
				case "fixed":
					<p class="text-neutral-gray">{ utils.FormatCurrency(booking.Cost) }</p>
				case "per_hour":
					<p class="text-neutral-gray">{ utils.FormatCurrency(booking.Cost) }</p>
				case "per_day":
					<p class="text-neutral-gray">{ utils.FormatCurrency(booking.Cost) }</p>
			}
		</div>
		<div class="mt-2 flex items-center gap-2">
			<span class="font-medium text-neutral-dark">Status:</span>
			@partials.BookingStatus(booking.Status)
		</div>
		if booking.Status != "done" {
			<div class="mt-2 flex gap-2">
				if booking.Status == "cancelled" {
					<span class="font-medium text-neutral-dark">Cancel Reason:</span>
				} else if booking.Status == "rejected" {
					<span class="font-medium text-neutral-dark">Reject Reason:</span>
				}
				<p class="text-neutral-gray">{ booking.CancelReason }</p>
			</div>
		}
		<div class="mt-2 flex gap-2">
			<span class="font-medium text-neutral-dark">Date Booked:</span>
			<p class="text-neutral-gray">{ booking.CreatedAt }</p>
		</div>
		<div class="mt-2 flex gap-2">
			<span class="font-medium text-neutral-dark">Date Scheduled:</span>
			<p class="text-neutral-gray">{ booking.ScheduledAt }</p>
		</div>
		<div class="mt-2 flex gap-2">
			if booking.Status == "cancelled" {
				<span class="font-medium text-neutral-dark">Date Cancelled:</span>
			} else if booking.Status == "rejected" {
				<span class="font-medium text-neutral-dark">Date Rejected:</span>
			} else if booking.Status == "confirmed" {
				<span class="font-medium text-neutral-dark">Date Confirmed:</span>
			} else if booking.Status == "done" {
				<span class="font-medium text-neutral-dark">Date Completed:</span>
			}
			<p class="text-neutral-gray">{ booking.UpdatedAt }</p>
		</div>
	</div>
	<!-- Service -->
	<div class="mt-4">
		<h1 class="text-xl font-medium">Service</h1>
		@partials.Divider()
		<div class="mt-2">
			<span class="font-medium text-neutral-dark">Title:</span>
			<p class="text-neutral-gray">{ booking.Service.Title }</p>
		</div>
		<div class="mt-2">
			<span class="font-medium text-neutral-dark">Description:</span>
			<p class="text-neutral-gray">{ booking.Service.Description }</p>
		</div>
		<div class="mt-2">
			<span class="font-medium text-neutral-dark">Tags:</span>
			<div class="mt-1.5 flex gap-2">
				for _, tag := range booking.Service.Tags {
					@partials.DefaultBadgeSuccess(tag)
				}
			</div>
		</div>
		<div class="mt-2 flex gap-2">
			<span class="font-medium text-neutral-dark">Rate:</span>
			switch (booking.Service.PricingType) {
				case "fixed":
					<p class="text-neutral-gray">{ utils.FormatCurrency(booking.Service.Price) } (fixed)</p>
				case "per_hour":
					<p class="text-neutral-gray">{ utils.FormatCurrency(booking.Service.Price) } / hour</p>
				case "per_day":
					<p class="text-neutral-gray">{ utils.FormatCurrency(booking.Service.Price) } / day</p>
			}
		</div>
		<div class="mt-2 flex gap-2">
			<span class="font-medium text-neutral-dark">Created At:</span>
			<p class="text-neutral-gray">{ booking.Service.CreatedAt }</p>
		</div>
		<div class="mt-2 flex gap-2">
			<span class="font-medium text-neutral-dark">Last Modified:</span>
			<p class="text-neutral-gray">{ booking.Service.UpdatedAt }</p>
		</div>
	</div>
	<!-- Extras -->
	<div class="mt-4">
		<h1 class="text-xl font-medium">Included Add-ons</h1>
		@partials.Divider()
		<div>
			for _, extra := range booking.Extras {
				@partials.Collapsable(partials.CollapsableProps{
					Title:    extra.Title,
					EndText:  utils.FormatCurrency(extra.Price),
					Content:  extra.Description,
					Expanded: true,
				})
			}
		</div>
	</div>
}

templ carousel(images []dto.Image) {
	<div class="relative w-full overflow-hidden outline-1 outline-pale-gray">
		<!-- previous button -->
		<button
			type="button"
			id="prevBtn"
			class="text-on-white absolute top-1/2 left-5 z-20 flex -translate-y-1/2 cursor-pointer items-center justify-center rounded-full bg-white/40 p-2 transition"
		>
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-width="3" class="size-5 pr-0.5 md:size-6" aria-hidden="true">
				<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5"></path>
			</svg>
		</button>
		<!-- next button -->
		<button
			type="button"
			id="nextBtn"
			class="text-on-white absolute top-1/2 right-5 z-20 flex -translate-y-1/2 cursor-pointer items-center justify-center rounded-full bg-white/40 p-2 transition"
		>
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-width="3" class="size-5 pl-0.5 md:size-6" aria-hidden="true">
				<path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
			</svg>
		</button>
		<!-- carousel -->
		<div class="relative min-h-[50svh] w-full bg-neutral-gray/50" id="carousel"></div>
		@templ.JSONScript("images", images)
		<script>
            (function() {
                function closestSiblingWithId(el, id) {
                    let sibling = el.previousElementSibling;

                    while(sibling) {
                        if (sibling.id === id) {
                            return sibling;
                        }

                        sibling = sibling.previousElementSibling;
                    }

                    return null;
                }

                function createImageElement(imageSrc) {
                    const classes = [
                        "absolute",
                        "w-full",
                        "h-full",
                        "inset-0",
                        "object-cover",
                        "text-neutral-dark",
                    ];
                    const img = document.createElement("img");
                    classes.forEach(e => img.classList.add(e));
                    img.src = `/api/v1/resource/public/${imageSrc}`;
                    return img;
                }

                const script = document.currentScript;
                const images = JSON.parse(script.previousElementSibling.textContent);
                const nextBtn = closestSiblingWithId(script, "nextBtn");
                const prevBtn = closestSiblingWithId(script, "prevBtn");
                const carousel = closestSiblingWithId(script, "carousel");
                let currImageIndex = 0;

                if (nextBtn) {
                    nextBtn.addEventListener("click", () => {
                        if (!images.length) return;

                        if (currImageIndex >= images.length - 1) {
                            currImageIndex = 0;
                        } else {
                            currImageIndex++;
                        }

                        if (images.length === 0) return;
                        const img = createImageElement(images[currImageIndex].URL);
                        carousel.innerHTML = "";
                        carousel.append(img);
                    });
                }

                if (prevBtn) {
                    prevBtn.addEventListener("click", () => {
                        if (!images.length) return;

                        if (currImageIndex <= 0) {
                            currImageIndex = images.length - 1;
                        } else {
                            currImageIndex--;
                        }

                        if (images.length === 0) return;
                        const img = createImageElement(images[currImageIndex].URL);
                        carousel.innerHTML = "";
                        carousel.append(img);
                    });
                }

                if (images.length === 0) return;
                const img = createImageElement(images[currImageIndex].URL);
                carousel.innerHTML = "";
                carousel.append(img);
             })();
        </script>
	</div>
}
